{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-2 col-sm-1"></div>
    <div class="col-md-10 col-sm-12">
        <div class="card card-body">
            <h2>{% trans "Service Provider Payment" %}</h2>
            <form action="" method="post">
                {% csrf_token %}
                {{servicepaymentform|crispy}}
                <div class="row spacer">
                    <div class="col-md offset-2">
                        <input class="btn btn-primary" type="submit" name="submit">
                    </div>
                </div>
            </form>
        </div>
        {% for error in servicepaymentform.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-2 col-sm-1"></div>

</div>

{% endblock %}