{% extends 'home.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load search_pagination_url %}
{% load erpextra %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h2 class="text-primary">{% trans "Service" %} {% trans "Payments" %} | {% if request.user|has_group:"admin" %} {{total_payments}}{% endif %} {% trans "DZD" %}</h2>
            </div>
            <div class="card card-body">
            <div class="row">
                    <div class="col">
                        <div class="card card-body">
                            <form method="get">
                                {{myFilter.form}}
                                <button class="btn btn-primary" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
            <div class="card card-body">
                <table id="table_id" class="display text-center">
                    <thead>
                    <tr>
                        <th>{% trans "Service Provider" %}</th>
                        <th>{% trans "Amount" %}</th>
                        <th>{% trans "Created" %}</th>
                        <th>{% trans "Payed" %}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for payment in serivcepayments %}
                    <tr>
                        <td>
                            {{payment.provider}}
                        </td>
                        <td>
                            {{payment.amount}}
                        </td>
                        <td>
                            {{payment.created}}
                        </td>
                        <td>
                            {{payment.pay_date}}
                        </td>

                    </tr>

                    {% endfor %}
                    </tbody>
                </table>
                <br>
                <hr>
                <br>
                <!--  Pagination -->
                    {% if serivcepayments.has_other_pages %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if serivcepayments.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"
                                        href="?{% param_replace page=serivcepayments.previous_page_number %}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="disabled page-item">
                                <a class="page-link"
                                   href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                                {% endif %}
                        {% for i in serivcepayments.paginator.page_range %}
                            {% if serivcepayments.number > 3 and forloop.first %}
                                <li class="page-item">
                                    <a class="page-link" href="?{% param_replace page=1 %}">
                                    1
                                        </a>
                                </li>
                                <li class="disabled">⋯</li>
                            {% endif %}
                            {% if serivcepayments.number == i %}
                                <li class="page-item active">
                                    <span>
                                        <a class="page-link" href="#">
                                        {{ i }}
                                            <span class="sr-only">(current)
                                            </span>
                                        </a>
                                    </span>
                                </li>
                            {% elif i > serivcepayments.number|add:'-3' and i < serivcepayments.number|add:'3' %}
                                <li class="page-item">
                                    <a class="page-link" href="?{% param_replace page=i %}">
                                        {{ i }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if serivcepayments.paginator.num_pages > serivcepayments.number|add:'3' and forloop.last %}
                                <li>...</li>
                                <li class="page-item">
                                    <a class="page-link" href="?{% param_replace page=serivcepayments.paginator.num_pages %}">
                                    {{ serivcepayments.paginator.num_pages }}
                                        </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if serivcepayments.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?{% param_replace page=serivcepayments.next_page_number %}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled page-item">
                                <a class="page-link disabled"
                                   href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                        </nav>
                    {% endif %}
            <!--  Pagination -->
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block jsscript %}

<script type='text/javascript'>


</script>
{% endblock %}