{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<head>
    {{ enter_form.media }}
</head>
<br>

<div class="container">
    <div class="row">
    <div class="col-md-2 col-sm-1">

    </div>
    <div class="col-md-8 col-sm-12">
        <div class="card card-body">

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{enter_form|crispy}}
                <input class="btn btn-primary" type="submit" name="submit">
            </form>
        </div>

        {% if enter_form.errors %}
        {% for field in enter_form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{field.label}} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in enter_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

    </div>
    <div class="col-md-2 col-sm-1">

    </div>
</div>
</div>

<script>

	</script>
{% endblock %}