{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>{% trans "Customers" %}</h5>
            </div>
            <div class="card card-body">
                <table id="table_id" class="display text-center">
                    <thead>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Phone" %}</th>
                        <th>{% trans "Address" %}</th>
                        <th>{% trans "Debt" %}</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for customer in customers %}
                    <tr>
                        <td>
                            {{customer.firstname}} {{customer.lastname}}
                        </td>
                        <td>
                            {{customer.phone}}
                        </td>
                        <td>
                            {{customer.address}}
                        </td>

                        <td>
                            {{customer.get_debt}}
                        </td>
                        <td>
                            <a class="btn btn-success "
                               href="{% url 'customer:update_customer' customer.id %}">{% trans "Update" %}</a>
                        </td>
                        <td>
                            <a class="btn btn-warning "
                               href="{% url 'customer:customer_detail' customer.id %}">{% trans "Details" %}</a>
                        </td>
                        <td>
                            <a class="btn btn-danger "
                               href="{% url 'customer:delete_customer' customer.id %}">{% trans "Delete" %}</a>
                        </td>


                    </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block jsscript %}
<!-- Data Table  -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<script type='text/javascript'>
    //Data Table init
    $(document).ready( function () {
    $('#table_id').DataTable();
    } );



</script>
{% endblock %}