{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

<!-- how the translation is done
1- django-admin makemessages -l fr
2- django-admin compilemessages
-->
{% block content %}
<br>
<div class="row">
    <div class="col-md-1 col-sm-1">
    </div>
    <div class="col-md-10 col-sm-12">
        <h1>{% trans "Cash Register" %}</h1>
        <hr>
        <br>
        <form class="card card-body" method="post" action="">
                <h3 class="card-title text-center"><i class="fas fa-search"></i> {% trans "Pick a Date" %}</h3>
                {% csrf_token %}
                <div class="form-group">
                    {{dateform}}
                    <br>
                    <label >{% trans "Date:" %}</label>
                    {{chosen_date}}
                    <br>
                    <input class="form-control btn btn-primary" type="submit" value="Validate">
                </div>
        </form>
        <!-- Summary -->
        <div class="card">
            <div class="card-header text-center">
                <h1>{% trans "Summary" %}</h1>
            </div>
            <div class="card-body">
                <h2 class="text-center text-success"><i class="fa-solid fa-square-caret-up"></i>{% trans "Income" %} : {{income_per_period}} {% trans "DZD" %}</h2>
                <br>
                <hr>
                <h2 class="text-center text-danger"><i class="fa-solid fa-square-caret-down"></i>{% trans "Expense" %} : {{expense_per_period}} {% trans "DZD" %}</h2>
                <br>
                <hr>
                <h2 class="text-center text-primary"><i class="fas fa-equals"></i>{% trans "TOTAL" %} : {{total_per_period}} {% trans "DZD" %}</h2>
                <br>
            </div>
        </div>

        <hr>
        <!-- Product Workforce -->
        <div class="card card-body">
            <!-- General calculation -->
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-4">
                    <div class="card bg-gradient-success shadow h-100 py-2">
                        <a href="{% url 'sellorder:get_orders_pannes' %}">
                            <div class="card-body text-center">
                                <h2 class=" font-weight-bold text-white text-uppercase mb-2"><i class="fa-solid fa-gear"></i> {% trans "Workforce" %}</h2>
                                <div class="h3 mb-0 font-weight-bold text-white">{{totaltodaypanne}} {% trans " DZD" %}</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-4">
                    <div class="card bg-gradient-info shadow h-100 py-2">
                     <a href="{% url 'sellorder:get_orders_pieces' %}">
                        <div class="card-body text-center">
                            <h2 class="font-weight-bold text-white text-uppercase "><i class="fa-solid fa-box"></i> {% trans "Products" %}</h2>
                            <div class="h3 mb-0 font-weight-bold text-white">{{totaltodaypiece}} {% trans "DZD" %}</div>
                        </div>
                     </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-4">
                    <div class="card bg-gradient-warning shadow h-100 py-2">
                        <!-- Today Caisse -->
                        <a href="{% url 'sellorder:get_orders_pannes' %}">
                            <div class="card-body text-center">
                                <h2 class=" font-weight-bold text-white text-uppercase mb-2"><i class="fa-solid fa-user-gear"></i> {% trans "Workshop Chief " %}<sup>10%</sup></h2>
                                <div class="h3 mb-0 font-weight-bold text-white">{{chief_percentage}} {% trans " DZD" %}</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- paid Calculation -->
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-4">
                    <div class="card bg-gradient-success shadow h-100 py-2">
                        <a href="{% url 'sellorder:get_orders_pannes' %}">
                            <div class="card-body text-center">
                                <h2 class=" font-weight-bold text-white text-uppercase mb-2"><i class="fa-solid fa-gear"></i> {% trans "Paid Workforce" %}</h2>
                                <div class="h3 mb-0 font-weight-bold text-white">{{paid_totaltodaypanne}} {% trans " DZD" %}</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-4">
                    <div class="card bg-gradient-info shadow h-100 py-2">
                     <a href="{% url 'sellorder:get_orders_pieces' %}">
                        <div class="card-body text-center">
                            <h2 class="font-weight-bold text-white text-uppercase "><i class="fa-solid fa-box"></i> {% trans "Paid Products" %}</h2>
                            <div class="h3 mb-0 font-weight-bold text-white">{{paid_totaltodaypiece}} {% trans "DZD" %}</div>
                        </div>
                     </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-4">
                    <div class="card bg-gradient-warning shadow h-100 py-2">
                        <!-- Today Caisse -->
                        <a href="{% url 'sellorder:get_orders_pannes' %}">
                            <div class="card-body text-center">
                                <h2 class=" font-weight-bold text-white text-uppercase mb-2"><i class="fa-solid fa-user-gear"></i> {% trans "Paid Workshop Chief " %}<sup>10%</sup></h2>
                                <div class="h3 mb-0 font-weight-bold text-white">{{paid_chief_percentage}} {% trans " DZD" %}</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Payments -->
        <div class="card card-body">
            <div class="row">
                <!-- Transaction -->
                <div class="col-xl-3 col-md-3 mb-3">
                    <div class="card border-dark rounded-3 h-100">
                         <div class="card-header bg-dark border-dark text-white">
                             <h3 class="my-0 fw-normal py-2 text-uppercase"><i class="fa-solid fa-right-left"></i> {% trans "Transaction" %}</h3>
                         </div>
                            <div class="card card-body text-center">
                                {% if total_transaction_payments >= 0 %}
                                    <h1 class="card-title pricing-card-title text-success mb-3">{{total_transaction_payments}} {% trans "DZD" %}</h1>
                                {% else %}
                                    <h1 class="card-title pricing-card-title text-danger mb-4">{{total_transaction_payments}} {% trans "DZD" %}</h1>
                                {% endif %}
                                <a class="w-100 btn btn-lg btn-outline-dark" href="{% url 'caisse:in_out_transaction_list' %}" target="_blank">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </div>
                    </div>
                </div>
                <!-- Customer Payments -->
                <div class="col-xl-3 col-md-3 mb-3">
                    <div class="card border-success rounded-3 h-100 ">
                         <div class="card-header bg-success border-success text-white text-center">
                             <h4 class="my-0 fw-normal text-uppercase"><i class="fa-solid fa-circle-plus"></i> {% trans "Customer Payments" %}</h4>
                         </div>
                        <div class="card card-body text-center">
                            <h1 class="card-title pricing-card-title text-dark">{{total_customer_payments}} {% trans " DZD" %}</h1>
                            <a class="w-100 btn btn-lg btn-outline-success" href="{% url 'payments:customer_payment_list' %}" target="_blank">
                                    <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Supplier Payments -->
                <div class="col-xl-3 col-md-3 mb-3">
                    <div class="card border-danger rounded-4 text-white h-100">
                         <div class="card-header bg-danger text-center">
                             <h4 class="my-0 fw-normal text-uppercase"><i class="fa-solid fa-circle-minus"></i> {% trans "Supplier Payments" %}</h4>
                         </div>
                        <div class="card card-body text-center">
                            <h1 class="card-title pricing-card-title text-dark">{{total_supplier_payments}} {% trans " DZD" %}</h1>
                            <a class="w-100 btn btn-lg btn-outline-danger" href="{% url 'payments:supplier_payment_list' %}" target="_blank">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Service Payments -->
                <div class="col-xl-3 col-md-3 mb-3">
                    <div class="card border-danger rounded-4 text-white h-100">
                         <div class="card-header bg-danger text-center">
                             <h4 class="my-0 fw-normal text-uppercase"><i class="fa-solid fa-circle-minus"></i> {% trans "Service Payments" %}</h4>
                         </div>
                         <div class="card card-body text-center">
                              <h1 class="card-title pricing-card-title text-dark">{{total_service_payments}} {% trans " DZD" %}</h1>
                              <a class="w-100 btn btn-lg btn-outline-danger" href="{% url 'payments:service_payment_list' %}" target="_blank">
                                <i class="fa-solid fa-eye"></i>
                              </a>
                         </div>
                    </div>
                </div>
            </div>
            <br>

        </div>
    </div>
    <div class="col-md-1 col-sm-1">

    </div>
</div>

{% endblock %}
{% block jsscript %}
<!-- Date Picker-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<!-- Date Picker-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script type='text/javascript'>
// Date Picker
$('input[name="date"]').daterangepicker();

</script>
{% endblock %}