{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Orders</h5>
        </div>
        <div class="card card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{buyorderform|crispy}}
                <hr>
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Supplier</th>
                        <th>City</th>
                        <th>Paid</th>
                        <th>Total Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{buyorder.id}}</td>
                        <td>{{buyorder.supplier}}</td>
                        <td>{{buyorder.supplier.city}}</td>
                        <td>{{buyorder.paid}}</td>
                        <td>DZD {{buyorder.get_total_cost}}</td>
                    </tr>

                    <thead class="thead-light">
                    <tr>

                        <th>Product Name</th>
                        <th>Price DZD</th>
                        <th>Quantity</th>

                    </tr>
                    </thead>

                    {% for item in buyorder.items.all %}
                    <tr>

                        <td class="table-light" >
                            <input class="form-control" type="text" value="{{ item.product.name }}" name="names" disabled>
                            </td>
                        <td class="table-light ">
                            <input class="form-control" type="number" name="prices" value="{{ item.price }}">
                            <h2>{{ item.price }}</h2>

                        </td>
                        <td class="table-light ">
                            <input class="form-control" type="number" name="quantities" value="{{ item.quantity }}">
                            </td>

                    </tr>
                    {% endfor %}

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    </tbody>

                    <tr class="text-center">
                        <td class="text-center">
                                                    <input class="btn btn-primary" type="submit" name="submit">

                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

{% endblock %}
