{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>{% trans "Orders" %}</h5>
        </div>
        <div class="card card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{buyorderform|crispy}}
                <hr>
                <input type="date" name="order_date" class="datepicker dateinput form-control" id="order_date" required>
                <hr>
                <h3>{% trans "TVA" %}</h3>
                <input class="form-control" type="number" value="0" name="tva">
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>{% trans "Order ID" %}</th>
                        <th>{% trans "Supplier" %}</th>
                        <th>{% trans "City" %}</th>
                        <th>{% trans "Paid" %}</th>
                        <th>{% trans "Total Price" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{buyorder.id}}</td>
                        <td>{{buyorder.supplier}}</td>
                        <td>{{buyorder.supplier.city}}</td>
                        <td>{{buyorder.paid}}</td>
                        <td>{% trans "DZD" %} {{buyorder.get_total_cost}}</td>
                    </tr>

                    <thead class="thead-light">
                    <tr>

                        <th>{% trans "Product Name" %}</th>
                        <th>{% trans "Price DZD" %}</th>
                        <th>{% trans "Quantity" %}</th>

                    </tr>
                    </thead>

                    {% for item in buyorder.items.all %}
                    <tr>

                        <td class="table-light">
                            <input class="form-control" type="text" value="{{ item.product.name }}" name="names"
                                   disabled>
                        </td>
                        <td class="table-light ">
                            <input class="form-control" type="text" name="prices" value="{{ item.price }}">
                            <h2>{{ item.price }}</h2>

                        </td>
                        <td class="table-light ">
                            <input class="form-control" type="number" name="quantities" value="{{ item.quantity }}">
                        </td>

                    </tr>
                    {% endfor %}

                    </tbody>

                </table>
                <br>
                <input class="form-control btn btn-primary" type="submit" name="submit">
            </form>
        </div>
    </div>
</div>
<script>
// treat numbers from final ","
    String.prototype.replaceAt = function(index, replacement) {
    return this.substr(0, index) + replacement + this.substr(index + replacement.length);
    }

window.addEventListener('load', (event) => {
  console.log('page is fully loaded');
    var prices = document.getElementsByName("prices");
    var total_price = 0;
    for (var i = 0; i<prices.length; i++)
    {
    // made for server live
        // Removing Spaces
        if (/\s/g.test(prices[i].value)){
        prices[i].value = prices[i].value.replace(/\s/g, "");
        }else{
         // Removing Comma
         var comma_index = prices[i].value.length - 3
            if(prices[i].value.indexOf(',') > -1){
                prices[i].value = prices[i].value.replaceAt(comma_index , ".");
                // any rest commas
                prices[i].value = prices[i].value.replace(",", "");
            }
        }
        // Removing Comma
         var comma_index = prices[i].value.length - 3
         if(prices[i].value.indexOf(',') > -1){
            prices[i].value = prices[i].value.replaceAt(comma_index , ".");
            // any rest commas
            prices[i].value = prices[i].value.replace(",", "");
        }
    }

});

</script>
{% endblock %}
