{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>{% trans "Buy Order Confirmation" %}</h5>
        </div>
        <div class="card card-body">
            <h2>{% trans "Supplier" %}: <span>{{supplier}}</span></h2>
            <label for="total-price">{% trans "Total" %} :</label>

            <input id="total-price" type="text" class="form-control" value="{{buyorder.get_ttc}}" disabled>
            <h2>{{buyorder.get_ttc}}</h2>
        </div>
        <div class="card card-body">
            <div class="row">
                    <div class="col-12">
                        <div class="">
                            <!-- Button Add New Product -->
                            <a class="btn btn btn-primary form-control" href="{% url 'stock:modal_buyorder_stockproduct_list' buyorder.id %}"><i class="fas fa-plus-circle"></i> {% trans "Product" %}</a>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>
            <br>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                {{buyorderform|crispy}}
                <hr>
                <input type="date" name="order_date" class="datepicker dateinput form-control" id="order_date" required>
                <hr>
                <h3>{% trans "TVA" %}</h3>
                <input id="tva" class="form-control" onkeyup="calc()" type="number" value="0" name="tva">
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>{% trans "Order ID" %}</th>
                        <th>{% trans "Supplier" %}</th>
                        <th>{% trans "City" %}</th>
                        <th>{% trans "Paid" %}</th>
                        <th>{% trans "Total Price" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{buyorder.id}}</td>
                        <td>{{buyorder.supplier}}</td>
                        <td>{{buyorder.supplier.city}}</td>
                        <td>{{buyorder.paid}}</td>
                        <td>{% trans "DZD" %} {{buyorder.get_total_cost}}</td>
                    </tr>

                    <thead class="thead-light">
                    <tr>
                        <th>{% trans "Brand" %}</th>
                        <th>{% trans "REF" %}</th>
                        <th>{% trans "Product Name" %}</th>
                        <th>{% trans "Price DZD" %}</th>
                        <th>{% trans "Quantity" %}</th>
                        <th>{% trans "Stock" %}</th>
                        <th></th>
                    </tr>
                    </thead>

                    {% for item in buyorder.items.all %}
                    <tr>
                        <td class="table-light">
                            <input class="form-control" type="text" value="{{ item.product.brand }}" name="names"
                                   disabled>
                        </td>
                        <td class="table-light">
                            <input class="form-control" type="text" value="{{ item.product.ref }}" name="names"
                                   disabled>
                        </td>
                        <td class="table-light">
                            <input class="form-control" type="text" value="{{ item.product.name }}" name="names"
                                   disabled>
                        </td>
                        <td class="table-light ">
                            <input class="form-control" onkeyup="calc()" type="text" name="prices" value="{{ item.price }}">
                            <h2>{{ item.price }}</h2>

                        </td>
                        <td class="table-light ">
                            <input class="form-control" onkeyup="calc()" type="text" name="quantities" value="{{ item.quantity }}">
                        </td>

                        <td class="table-light">
                            <select class="form-control"  name="stock">
                                {% for stock in stocks %}
                                <option value="{{stock.id}}">{{stock}}</option>
                                {% empty %}
                                <option value="None">{% trans "None" %}</option>
                                {% endfor %}
                            </select>
                        </td>

                        <td>
                                                    <a class="btn btn-danger " href="{% url 'buyorder:confirm_order_item_delete' buyorder.id item.id %}">{% trans "Delete" %}</a>
                        </td>

                    </tr>
                    {% endfor %}

                    </tbody>

                </table>
                <br>
                <input class="form-control btn btn-primary" type="submit" name="submit">
            </form>
        </div>
    </div>
</div>
<script>
// treat numbers from final ","
    String.prototype.replaceAt = function(index, replacement) {
    return this.substr(0, index) + replacement + this.substr(index + replacement.length);
    }

window.addEventListener('load', (event) => {
  console.log('page is fully loaded');
    var prices = document.getElementsByName("prices");
    var qunatites = document.getElementsByName("quantities");
    var total_price = 0;
    for (var i = 0; i<prices.length; i++)
    {
    // made for server live
        // Removing Spaces
        if (/\s/g.test(prices[i].value)){
        prices[i].value = prices[i].value.replace(/\s/g, "");
        }else{
         // Removing Comma
         var comma_index = prices[i].value.length - 3
            if(prices[i].value.indexOf(',') > -1){
                prices[i].value = prices[i].value.replaceAt(comma_index , ".");
                // any rest commas
                prices[i].value = prices[i].value.replace(",", "");
            }
        }
        // Removing Comma
         var comma_index = prices[i].value.length - 3
         if(prices[i].value.indexOf(',') > -1){
            prices[i].value = prices[i].value.replaceAt(comma_index , ".");
            // any rest commas
            prices[i].value = prices[i].value.replace(",", "");
        }

        // Quantity

        if (/\s/g.test(qunatites[i].value)){
        qunatites[i].value = qunatites[i].value.replace(/\s/g, "");
        }else{
         // Removing Comma
         var comma_index = qunatites[i].value.length - 3
            if(qunatites[i].value.indexOf(',') > -1){
                qunatites[i].value = qunatites[i].value.replaceAt(comma_index , ".");
                // any rest commas
                qunatites[i].value = qunatites[i].value.replace(",", "");
            }
        }
        // Removing Comma
         var comma_index = qunatites[i].value.length - 3
         if(qunatites[i].value.indexOf(',') > -1){
            qunatites[i].value = qunatites[i].value.replaceAt(comma_index , ".");
            // any rest commas
            qunatites[i].value = qunatites[i].value.replace(",", "");
        }

    }
});


function calc(){
    var prices = document.getElementsByName("prices");
    var quantities = document.getElementsByName("quantities");
    var tva_value = document.getElementById("tva");
    var total_price = 0;

    // calculating
    for (var i = 0; i<prices.length; i++)
    {
        // made for server live
        // Removing Spaces
        if (/\s/g.test(prices[i].value)){
        prices[i].value = prices[i].value.replace(/\s/g, "");
        }else{
         // Removing Comma
         var comma_index = prices[i].value.length - 3
            if(prices[i].value.indexOf(',') > -1){
                prices[i].value = prices[i].value.replaceAt(comma_index , ".");
                // any rest commas
                prices[i].value = prices[i].value.replace(",", "");
            }
        }
         // Removing Comma
         var comma_index = prices[i].value.length - 3
         if(prices[i].value.indexOf(',') > -1){
            prices[i].value = prices[i].value.replaceAt(comma_index , ".");
            // any rest commas
            prices[i].value = prices[i].value.replace(",", "");
        }
        // any rest commas
        //  prices[i].value = prices[i].value.replace(",", "");
        // Removing quantity comma
        var comma_index = quantities[i].value.length - 3
        if(quantities[i].value.indexOf(',') > -1){
            quantities[i].value = quantities[i].value.replaceAt(comma_index , ".");
        }

    if (i == 0){
        total_price = prices[i].value * quantities[i].value;

        document.getElementById("total-price").value = total_price;
        // total_price = total_price.substring(0, total_price.length - 2);
        console.log(total_price);
    }else {
           total_price =  parseFloat(document.getElementById("total-price").value);
           total_price += parseFloat(prices[i].value * quantities[i].value);
      //     total_price = total_price.substring(0, total_price.length - 2);
       //    console.log(total_price);
           console.log("Total Price");
           console.log(total_price);

        document.getElementById("total-price").value = total_price;
    }
    }

    // Applying Tva
    total_price += (total_price * (tva_value.value/100));
  }

</script>
{% endblock %}
