{% extends 'home.html' %}
{% load static %}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Buy Orders</h5>
        </div>
        <div class="card card-body">
            <table id="table_id" class="table display text-center">
                {% for order in buyorders %}
                <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Supplier</th>
                    <th>City</th>
                    <th>Paid</th>
                    <th>Delivered</th>
                    <th>Total Price</th>
                    <th>Total Weight</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.supplier}}</td>
                    <td>{{order.supplier.city}}</td>
                    <td>{{order.paid}}</td>
                    <td>{{order.delivered}}</td>
                    <td>{{order.get_total_cost}} DZD</td>
                    <td>{{order.get_total_weight}} KG</td>
                </tr>

                <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Total Weight</th>
                    <th></th>
                </tr>
                </thead>

                {% for item in order.items.all %}
                <tr>
                    <td class="table-light"></td>
                    <td class="table-light">{{ item.product.name }}</td>
                    <td class="table-light ">DZD{{ item.price }}</td>
                    <td class="table-light ">{{ item.quantity }}</td>
                    <td class="table-light">DZD{{ item.get_cost }}</td>
                    <td class="table-light">KG {{ item.get_weight }}</td>
                    <td class="table-light"></td>
                </tr>
                {% endfor %}

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>

                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock %}
{% block jsscript %}
<!-- custom javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"/>
<!-- Data Table  -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<script type='text/javascript'>
    //Data Table init
    $(document).ready( function () {
    $('#table_id').DataTable();
} );


</script>
{% endblock %}