{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% load search_pagination_url %}

{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>{% trans "Buy Orders" %}</h5>
        </div>
        <br>
        <hr>
        <br>
        <div class="card card-body">

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <div class="collapse" id="collapseExample">
             <div class="card card-body">
                 <form method="get">
                                {{myFilter.form}}
                                <button class="btn btn-primary" type="submit">Search</button>
                 </form>
              </div>
            </div>
            <table id="table_id" class="table display text-center">

                <thead>
                <tr>
                    <th>{% trans "Order ID" %}</th>
                    <th>{% trans "Supplier" %}</th>
                    <th>{% trans "Phone" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Paid" %}</th>
                    <th>{% trans "HT" %}</th>
                    <th>{% trans "TVA" %}</th>
                    <th>{% trans "TTC" %}</th>
                    <th>{% trans "Debt" %}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for order in buyorders %}
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.supplier}}</td>
                    <td>{{order.supplier.phone}}</td>
                    <td>{{order.order_date}}</td>
                    <td>{{order.paid}}</td>
                    <td>{{order.total_price}} {% trans "DZD" %}</td>
                    <td>{{order.get_tva}} {% trans "DZD" %}</td>
                    <td>{{order.get_ttc}} {% trans "DZD" %}</td>
                    <td>{{order.debt}} {% trans "DZD" %}</td>
                    <td>
                        {% if order.confirmed %}
                             <a class="btn btn-info " href="{% url 'buyorder:update_order' order.id %}">{% trans "Update" %}</a>
                        {% else %}
                             <a class="btn btn-success " href="{% url 'buyorder:buyorder_confirmation' order.id %}">{% trans "Confirm" %}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if order.debt > 0%}
                        <a class="btn btn-primary " href="{% url 'payments:create_supplier_payment' order.id %}">{% trans "PayDebt" %}</a>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-warning " href="{% url 'buyorder:buyorder_details' order.id %}">{% trans "Details" %}</a>
                    </td>
                    <td>
                        <a class="btn btn-danger " href="{% url 'buyorder:buyorder_delete' order.id %}">{% trans "Delete" %}</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <!--  Pagination -->
                    {% if buyorders.has_other_pages %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if buyorders.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"
                                        href="?{% param_replace page=buyorders.previous_page_number %}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="disabled page-item">
                                <a class="page-link"
                                   href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                                {% endif %}
                        {% for i in buyorders.paginator.page_range %}
                            {% if buyorders.number > 3 and forloop.first %}
                                <li class="page-item">
                                    <a class="page-link" href="?{% param_replace page=1 %}">
                                    1
                                        </a>
                                </li>
                                <li class="disabled">⋯</li>
                            {% endif %}
                            {% if buyorders.number == i %}
                                <li class="page-item active">
                                    <span>
                                        <a class="page-link" href="#">
                                        {{ i }}
                                            <span class="sr-only">(current)
                                            </span>
                                        </a>
                                    </span>
                                </li>
                            {% elif i > buyorders.number|add:'-3' and i < buyorders.number|add:'3' %}
                                <li class="page-item">
                                    <a class="page-link" href="?{% param_replace page=i %}">
                                        {{ i }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if buyorders.paginator.num_pages > buyorders.number|add:'3' and forloop.last %}
                                <li>...</li>
                                <li class="page-item">
                                    <a class="page-link" href="?{% param_replace page=buyorders.paginator.num_pages %}">
                                    {{ buyorders.paginator.num_pages }}
                                        </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if buyorders.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?{% param_replace page=buyorders.next_page_number %}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled page-item">
                                <a class="page-link disabled"
                                   href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                        </nav>
                    {% endif %}
            <!--  Pagination -->
        </div>
    </div>
</div>


{% endblock %}
{% block jsscript %}
<!-- custom javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"/>

{% endblock %}