{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Sell Orders</h5>
        </div>
        <div class="card card-body bg-primary">
            <h5 class=" text-center text-white">{{product}} : {{sell_quantity}}</h5>
        </div>
        <div class="card card-body">
            <table id="table_id" class="table display text-center">
                <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer</th>
                    <th>Date</th>
                    <th>Bill</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for order, item, quantity in final_list %}

                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.customer}}</td>
                    <td>{{order.order_date}}</td>
                    <td>{{order.factured}}</td>
                    <td>{{quantity}}</td>
                    <td>
                         <a class="btn btn-warning " href="{% url 'sellorder:sellorder_details' order.id %}">Details</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <div class="card card-body">
            <h5>Buy Orders</h5>
        </div>
        <div class="card card-body bg-danger">
            <h5 class=" text-center text-white">{{product}} : {{buy_quantity}}</h5>
        </div>
        <div class="card card-body">
            <table id="table_buyorder" class="table display text-center">
                <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Supplier</th>
                    <th>Date</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for order, item, quantity in final_buylist %}

                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.supplier}}</td>
                    <td>{{order.order_date}}</td>
                    <td>{{quantity}}</td>
                    <td>
                        <a class="btn btn-warning " href="{% url 'buyorder:buyorder_details' order.id %}">Details</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
{% block jsscript %}
<!-- custom javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"/>
<!-- Data Table  -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<script type='text/javascript'>
    //Data Table init
    $(document).ready( function () {
    $('#table_id').DataTable();
    $('#table_buyorder').DataTable();
} );



</script>
{% endblock %}