{% extends 'home.html' %}
{% load static %}
{% block content %}

<br>
<div class="container">
    <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="card card-body">
            <P>ARE YOU SURE YOU WANT TO DELETE {{rdv.customer}}  {{rdv.vehicle}}  {{rdv.rdv_date}}</P>
            <form action="{% url 'rdv:delete_rdv' rdv.id %}" method="post">

                {% csrf_token %}
                <a class="btn btn-warning" href="{% url 'rdv:rdv_list' %}">Cancel</a>
                <input class="btn btn-danger" type="submit" name="Confirm">
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
</div>

{% endblock %}