{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>{% trans "Appointments Details" %}</h5>
        </div>
        <div class="card card-body">
            <div class="row">
                <div class="col-md-2">
                    <h6>{% trans "RDV ID" %}: </h6>
                    <td>{{rdv.id}}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Customer" %}: </h6>
                    <td>{{rdv.customer}}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Vehicle" %}: </h6>
                    <td>{{rdv.vehicle}}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Date" %}: </h6>
                    <td>{{rdv.rdv_date}}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Time" %}: </h6>
                    <td>{{rdv.rdv_time}}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Total Price" %}: </h6>
                    <td>{{rdv.get_total_cost}}</td>
                </div>
            </div>
            {% if rdv.items.all %}
            <table id="table_id" class="table display text-center" >
                <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>{% trans "Description" %}</th>
                    <th>{% trans "Price" %}</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in rdv.items.all %}
                <tr>
                    <td class="table-light"></td>
                    <td class="table-light">{{ item.panne.desc }}</td>
                    <td class="table-light ">{% trans "DZD" %}{{ item.price }}</td>
                    <td class="table-light"></td>
                </tr>

                </tbody>
                {% endfor %}
            </table>
            {% else %}
                <h1>{% trans "No Elements Found" %}</h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}