{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<br>
<div class="container">
    <div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>{% trans "Stock Products" %}</h5>
        </div>
        <div class="card card-body">
            <table id="table_id" class=" table display text-center">
              <thead>
              <tr>
                    <th>{% trans "Brand" %}</th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Ref" %}</th>
                    <th>{% trans "Sell Price" %}</th>
                    <th>{% trans "Buy Price" %}</th>
                    <th>{% trans "Stock" %}</th>
                    <th>{% trans "Quantity" %}</th>
                    <th></th>
                    <th></th>
                </tr>
              </thead>
                <tbody>
                {% for prod in stockproducts %}
                <tr>
                    <td>
                       {{prod.product.brand}}
                   </td>
                    <td>
                       {{prod}}
                   </td>
                    <td>
                       {{prod.product.ref}}
                   </td>
                    <td>
                       {{prod.product.sellprice}} DZD
                   </td>
                    <td>
                       {{prod.product.buyprice}} DZD
                   </td>
                    <td>
                       {{prod.stock}}
                   </td>
                    <td>
                       {{prod.quantity}}
                   </td>

                    <td>
                        <a class="btn btn-success " href="{% url 'stock:update_stockproduct' prod.id %}">{% trans "Update" %}</a>
                    </td>
                    <td>
                        <a class="btn btn-danger " href="{% url 'stock:delete_stockproduct' prod.id %}">{% trans "Delete" %}</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>

</div>
{% endblock %}
{% block jsscript %}
<!-- custom javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"/>
<!-- Data Table  -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
<!-- Data Table  -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>

<script type='text/javascript'>
    //Data Table init
    $(document).ready( function () {
    $('#table_id').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
} );

</script>
{% endblock %}