{% extends 'home.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Sell Order</h5>
            </div>
            <div class="card card-body">
                <form id="stockproduct_form" action="" method="post">
                    {% csrf_token %}
                    <h2>Choose Products</h2>
                    <table id="table_id" class=" table display text-center">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Brand</th>
                            <th>Name</th>
                            <th>Ref</th>
                            <th>Sell Price</th>
                            <th>Buy Price</th>
                            <th>Stock</th>
                            <th>Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for prod in stockproducts %}
                        <tr>
                            <td>
                                <input class="form-check-input product-input" type="checkbox" value="{{prod.id}}"
                                       id="{{prod.id}}"
                                       name="products">
                            </td>
                            <td>
                                {{prod.product.brand}}
                            </td>
                            <td>
                                {{prod.product.name}}
                            </td>
                            <td>
                                {{prod.product.ref}}
                            </td>
                            <td>
                                {{prod.product.sellprice}}
                            </td>
                            <td>
                                {{prod.product.buyprice}}
                            </td>
                            <td>
                                {{prod.stock}}
                            </td>

                            <td>
                                {{prod.quantity}}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tr class="text-center">
                            <td class="text-center">
                                <input class="btn btn-primary" type="submit" name="submit">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block jsscript %}
<!-- custom javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"/>
<!-- Data Table  -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<script type='text/javascript'>
    //Data Table init
    $(document).ready( function () {
    $('#table_id').DataTable();

} );

// Form Submition stockproduct_form
    $('#stockproduct_form').on('submit', function(e){
         var form = this;
         //var form = document.getElementById('stockproduct_form');
         console.log(form)
         var table = $('#table_id').DataTable();
         // console.log(form);
         // Iterate over all checkboxes in the table
         table.$('input[type="checkbox"]').each(function(){
         // If checkbox doesn't exist in DOM
         if(!$.contains(document, this)){
         if(this.checked){
         // Create a hidden element
         console.log(this)
         $(form).append(
         $('<input>')
         .attr('type', 'hidden')
         .attr('name', this.name)
         .val(this.value)
         );
         }
         }
});
    });



</script>
{% endblock %}