{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% load search_pagination_url %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h2>{% trans "Buy Order" %}</h2>
                {% if order.confirmed %}
                    <table id="table_previous" class="table display text-center">
                <thead class="thead-light">
                <tr>
                    <th>{% trans "Product Brand" %}</th>
                    <th>{% trans "Product Name" %}</th>
                    <th>{% trans "Price" %}</th>
                    <th>{% trans "Quantity" %}</th>
                    <th>{% trans "Total Price" %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in order.items.all %}
                <tr>
                    <td class="table-light">{{ item.product.brand }}</td>
                    <td class="table-light">{{ item.product.name }}</td>
                    <td class="table-light ">DZD{{ item.price }}</td>
                    <td class="table-light ">{{ item.quantity }}</td>
                    <td class="table-light">DZD{{ item.get_cost }}</td>
                    <td class="table-light"></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
                {% endif %}
            </div>
            <div class="card card-body">
                <button class="btn btn-primary btn-lg rounded-pill check" onclick="uncheck_all()"><i class="far fa-square text-left pr-5"></i>UnCheck ALL</button>
                <div class="row">
                <div class="col">
                    <h4 class=" text-primary text-center">{% trans "Search" %}</h4>
                    <div class="card card-body">
                        <form method="get">
                            {{myFilter.form}}
                            <button class="btn btn-primary" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                </div>

                <form id="order-form" action="" method="post">
                    {% csrf_token %}
                    <h2>{% trans "Choose Products" %}</h2>
                    <div>
                        <h5 class="text-primary d-inline">
                            {% trans "Selected Products"  %}:
                            <div class="d-inline font-weight-bold" id="product_counter">
                            </div>
                        </h5>
                    </div>

                    <table id="table_id" class=" table display text-center">
                        <thead>
                        <tr>
                            <th></th>
                            <th>{% trans "Brand" %}</th>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Ref" %}</th>
                            <th>{% trans "Sell Price" %}</th>
                            <th>{% trans "Buy Price" %}</th>
                            <th>{% trans "Stock" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for prod in stockproducts %}
                        <tr>
                            <td>
                                <input class="form-check-input product-input" type="checkbox" value="{{prod.id}}"
                                       id="{{prod.id}}"
                                       name="products">
                            </td>
                            <td>
                                {{prod.brand}}
                            </td>
                            <td>
                                {{prod.name}}
                            </td>
                            <td>
                                {{prod.ref}}
                            </td>
                            <td>
                                {{prod.sellprice}}
                            </td>
                            <td>
                                {{prod.buyprice}}
                            </td>
                            <td>
                                {{prod.stock}}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                    <!--  Pagination -->
                    {% if stockproducts.has_other_pages %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if stockproducts.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"
                                        href="?{% param_replace page=stockproducts.previous_page_number %}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="disabled page-item">
                                <a class="page-link"
                                   href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                                {% endif %}
                        {% for i in stockproducts.paginator.page_range %}
                            {% if stockproducts.number > 3 and forloop.first %}
                                <li class="page-item">
                                    <a class="page-link" href="?{% param_replace page=1 %}">
                                    1
                                        </a>
                                </li>
                                <li class="disabled">⋯</li>
                            {% endif %}
                            {% if stockproducts.number == i %}
                                <li class="page-item active">
                                    <span>
                                        <a class="page-link" href="#">
                                        {{ i }}
                                            <span class="sr-only">(current)
                                            </span>
                                        </a>
                                    </span>
                                </li>
                            {% elif i > stockproducts.number|add:'-3' and i < stockproducts.number|add:'3' %}
                                <li class="page-item">
                                    <a class="page-link" href="?{% param_replace page=i %}">
                                        {{ i }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if stockproducts.paginator.num_pages > stockproducts.number|add:'3' and forloop.last %}
                                <li>...</li>
                                <li class="page-item">
                                    <a class="page-link" href="?{% param_replace page=stockproducts.paginator.num_pages %}">
                                    {{ stockproducts.paginator.num_pages }}
                                        </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if stockproducts.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?{% param_replace page=stockproducts.next_page_number %}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled page-item">
                                <a class="page-link disabled"
                                   href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                        </nav>
                    {% endif %}
                    <!--  Pagination -->
                    <tr class="text-center">
                            <td class="text-center">
                                <input class="btn btn-primary form-control" type="submit" name="submit">
                            </td>
                    </tr>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block jsscript %}
<!-- custom javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"/>

<script type='text/javascript'>

    // Product Counter
    var product_counter = 0


    // Register checked box in local storage to stay after refresh
    document.addEventListener("DOMContentLoaded", function () {
        var checkbox = document.querySelectorAll("input[type='checkbox']");

        for (var item of checkbox) {
            item.addEventListener("click", function () {
                localStorage.s_item ? // verify if item in existe localStorage
                    localStorage.s_item = localStorage.s_item.indexOf(this.id + ",") == -1 // verifico de localStorage contém o id
                    ?
                    localStorage.s_item + this.id + "," // não existe. Adiciono a id no loaclStorage
                    :
                    localStorage.s_item.replace(this.id + ",", "") : // já existe, apago do localStorage
                    localStorage.s_item = this.id + ","; // não existe. Crio com o id do checkbox
            });
        }

        if (localStorage.s_item) { // verifico se existe localStorage
            // Show chosen products number
                items = localStorage.s_item
                items = items.split(',')
                for (var product of items) {
                    // if item not empty
                    if(product != ''){
                        //alert(product)
                        product_counter++;
                        document.getElementById('product_counter').innerHTML = product_counter;
                    }
                                    }
            for (var item of checkbox) { // existe, percorro as checkbox
                for (var product of items) {
                    if(product != ''){
                    // Checked the box
                        if (product === item.id){
                            item.checked = true;
                        }
                    }
                }
            }
        }


    });

    // Count Product Checked
    function count_products(check_id) {
        product = document.getElementById(check_id)
                if (product.checked) {
                    // Count CheckBoxes
                    product.checked = true;
                   product_counter++;
                   document.getElementById('product_counter').innerHTML = product_counter;
                }else{
                product.checked = false;
                   product_counter--;
                   document.getElementById('product_counter').innerHTML = product_counter;
                }
    }

    // Ucheck all
    function uncheck_all(){
        var checkbox = document.querySelectorAll("input[type='checkbox']");

        checkbox.forEach(element => {
            console.log(element)
            element.checked = false;
            console.log("new ", element)
        });
        product_counter=0; customer_id = 0;
        document.getElementById('product_counter').innerHTML = product_counter;
        localStorage.clear();
    }

    document.getElementsByClassName("product-input").required = false;



    // Form Submition order-form
    $('#order-form').on('submit', function (e) {
        var form = this;
        // Iterate over all checkboxes in the table
        // product table
        // var table = document.getElementByID('table_id');
        // get all check boxes
        var checkboxs = document.querySelectorAll("input[type='checkbox']:checked");
        // local storage values
        var local_storage_items = localStorage.s_item;
        local_storage_items = local_storage_items.split(',');
        // exist item
        exist = -1;
        for (var product of local_storage_items){
            // if item not empty
            if (exist == 0){
            exist = -1;
            // break;
            }
            for (var item of checkboxs) {
            if(product != ''){
                if(product===item.id){
                   // console.log(item);
                    console.log(product, item.id, "Equal", item.checked);
                    if (item.checked){
                    console.log(item.id, "Checked");
                    return 1;
                    break;

                    }

                } else {
                // console.log(item);
                    console.log(product, item.id, "Not Equal", item.checked);

                    $(form).append(
                        $('<input>')
                        .attr('type', 'hidden')
                        .attr('name', item.name)
                        .attr('checked', true)
                        .val(product)

                    );
                    exist = 0;
                    break;

                }
             }
            }
        }
       localStorage.clear();
    });

    // Testing Function
    function submittion() {

        //var form = this;
        var form = document.getElementById('order-form');
        console.log(form)
        // Iterate over all checkboxes in the table
        // product table
        var table = $('#table_id').DataTable();
        table.$('input[type="checkbox"]').each(function () {
            // If checkbox doesn't exist in DOM
            if (this.checked) {
                // Create a hidden element
                $(form).append(
                    $('<input>')
                    .attr('type', 'hidden')
                    .attr('name', this.name)
                    .val(this.value)
                );
            }

        });

    }
</script>

{% endblock %}