{% extends 'home.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Vehicle</h5>
            </div>
            <div class="card card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <h2>Choose Customers</h2>
                    <!-- Customers Table -->
                    <table id="table_vehicle" class="display text-center">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Customer</th>
                            <th>Type</th>
                            <th>Matriculation</th>
                            <th>Cart Gris</th>


                        </tr>
                        </thead>

                        <tbody>
                        {% for veh in vehicles %}
                        <tr>
                            <td>
                                <input class="form-check-input" type="radio" value="{{veh.id}}"
                                       id="{{veh.id}}" name="vehicle">
                            </td>
                            <td>
                                {{veh.vehicle_name}}
                            </td>
                            <td>
                                {{veh.customer}}
                            </td>

                            <td>
                                {{veh.vehicle_type}}
                            </td>
                            <td>
                                {{veh.vehicle_mat}}
                            </td>
                            <td>
                                {{veh.vehicle_cart_gris}}
                            </td>
                        </tr>

                        {% endfor %}
                        </tbody>

                    </table>
                    <br>
                    <input class="btn btn-primary text-center" type="submit" name="submit">

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block jsscript %}
<!-- custom javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"/>
<!-- Data Table  -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<script type='text/javascript'>
    //Data Table init
    $(document).ready( function () {
    $('#table_vehicle').DataTable();
} );


</script>
{% endblock %}