{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% load list_indexing %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <div class="row">
                <div class="col">
                    <h6>{% trans "Order ID" %}: </h6>
                    <td>{{order.id}}</td>
                </div>
                <div class="col">
                    <h6>{% trans "Customer" %}: </h6>
                    <td>{{order.customer}}</td>
                </div>
                <div class="col">
                    <h6>{% trans "Phone" %}: </h6>
                    <td>{{order.customer.phone}}</td>
                </div>
            </div>
                <br>
                <hr>
                <br>
                <table id="table_id" class="table display text-center">
                <thead class="thead-light">
                <tr>
                    <th>{% trans "ID" %}</th>
                    <th>{% trans "Product Brand" %}</th>
                    <th>{% trans "Product Name" %}</th>
                    <th>{% trans "Price" %}</th>
                    <th>{% trans "Quantity" %}</th>
                    <th>{% trans "Total Price" %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in order.items.all %}
                <tr>
                    <td class="table-light">{{ list_index|index:item }}</td>
                    <td class="table-light">{{ item.stockproduct.product.brand }}</td>
                    <td class="table-light">{{ item.stockproduct.product.name }}</td>
                    <td class="table-light ">{% trans "DZD" %}{{ item.price }}</td>
                    <td class="table-light ">{{ item.quantity }}</td>
                    <td class="table-light">{% trans "DZD" %}{{ item.get_cost }}</td>
                    <td class="table-light"></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h1 class="text-primary"><i class="fa-solid fa-car"></i> {% trans "Vehicle" %}</h1>
            </div>
            <div class="card card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <h2>{% trans "Choose Vehicle" %}</h2>
                    <!-- Vehicle Table -->
                    <table id="table_vehicle" class="display text-center">
                        <thead>
                        <tr>
                            <th></th>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Customer" %}</th>
                            <th>{% trans "Type" %}</th>
                            <th>{% trans "Matriculation" %}</th>
                            <th>{% trans "Cart Gris" %}</th>


                        </tr>
                        </thead>

                        <tbody>
                        {% for veh in vehicles %}
                        <tr>
                            <td>
                                <input class="form-check-input" type="radio" value="{{veh.id}}"
                                       id="{{veh.id}}" name="vehicle">
                            </td>
                            <td>
                                {{veh.vehicle_name}}
                            </td>
                            <td>
                                {{veh.customer}}
                            </td>

                            <td>
                                {{veh.vehicle_type}}
                            </td>
                            <td>
                                {{veh.vehicle_mat}}
                            </td>
                            <td>
                                {{veh.vehicle_cart_gris}}
                            </td>
                        </tr>

                        {% endfor %}
                        </tbody>

                    </table>
                    <br>
                    <input class="btn btn-primary text-center" type="submit" name="submit">

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block jsscript %}
<!-- custom javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"/>

<script type='text/javascript'>


</script>
{% endblock %}