{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% load erpextra %}

<head>
    <style>
 /*Calendar CSS*/
.calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
    background: -webkit-linear-gradient(left, #25c481, #25b7c4) !important;
    background: linear-gradient(to right, #25c481, #25b7c4)  !important;
  }

  .calendar tr, .calendar td {
    border: 1px solid black;
  }

  .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }

  .calendar td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
  }

  .month {
    font-size: 25px;
  }

  .date {
    font-size: 16px;
  }


    </style>
</head>

{% block content %}

<!-- ********************Admin View************** -->
{% if request.user|has_group:"admin" %}
<!-- First Caisse row Starts Here -->
<div class="row">
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card bg-primary shadow h-100 py-2">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-9">
                        <h1 class="bg-primary text-white">{% trans "Caisse" %}</h1>
                    </div>
                    <div class="col-3">
                        <a class="mr-3" href="{% url 'caisse:create_transaction' %}"><i
                                class="fas fa-plus-square fa-2x text-white"></i></a>
                        <a class="mr-0" href="{% url 'caisse:transaction_list' %}"><i
                                class="fas fa-list-ul fa-2x text-white"></i></a>
                    </div>
                </div>


            </div>
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{% trans "Caisse" %}</div>
                        <div class="h3 mb-0 font-weight-bold text-white">{{caisse}} {% trans "DZD" %}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-coins fa-5x text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-3 mb-4">
        <div class="card bg-gradient-success shadow h-100 py-2">
            <a href="{% url 'sellorder:get_orders_pannes' %}">
                <div class="card-body text-center">
             <h2 class=" font-weight-bold text-white text-uppercase mb-2">{% trans "MO" %}</h2>
                        <div class="h3 mb-0 font-weight-bold text-white">{{totaltodaypanne}} {% trans " DZD" %}</div>

            </div>
            </a>

        </div>
    </div>
    <div class="col-xl-3 col-md-3 mb-4">
        <div class="card bg-gradient-info shadow h-100 py-2">
         <a href="{% url 'sellorder:get_orders_pieces' %}">
            <div class="card-body text-center">
                             <h2 class=" font-weight-bold text-white text-uppercase ">{% trans "Piece" %}</h2>
                        <div class="h3 mb-0 font-weight-bold text-white">{{totaltodaypiece}} {% trans "DZD" %}</div>

            </div>
         </a>
        </div>
    </div>
</div>
<!-- First Caisse row Ends Here -->
<hr>
<!-- Second Bank row Starts Here -->

<div class="row">
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card bg-primary shadow h-100 py-2">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-9">
                        <h1 class="bg-primary text-white">{% trans "Bank" %}</h1>
                    </div>
                    <div class="col-3">
                        <a class="mr-3" href="{% url 'bank:create_transaction' %}"><i
                                class="fas fa-plus-square fa-2x text-white"></i></a>
                        <a class="mr-0" href="{% url 'bank:transaction_list' %}"><i
                                class="fas fa-list-ul fa-2x text-white"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{% trans "Bank" %}</div>
                        <div class="h3 mb-0 font-weight-bold text-white">{{bank}} {% trans "DZD" %}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-coins fa-5x text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-3 mb-4">
        <div class="card bg-gradient-success shadow h-100 py-2">
            <!-- Today Caisse -->
            <a href="{% url 'caisse:today_transaction_list' %}">
                <div class="card-body text-center">
             <h2 class=" font-weight-bold text-white text-uppercase mb-2">{% trans "Today Caisse" %}</h2>
                        <div class="h3 mb-0 font-weight-bold text-white">{{today_caisse}} {% trans " DZD" %}</div>
            </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-3 mb-4">
        <div class="card bg-gradient-success shadow h-100 py-2">
            <!-- Daily Salary -->
            <a href="{% url 'employee:list_employee' %}">
                <div class="card-body text-center">
             <h2 class=" font-weight-bold text-white text-uppercase mb-2">{% trans "Daily Salary" %}</h2>
                        <div class="h3 mb-0 font-weight-bold text-white">{{daily_salary }} {% trans " DZD" %}</div>
            </div>
            </a>
        </div>
    </div>

</div>
<!-- Second Bank row Ends Here -->

<hr>
<!-- Third Salary row Starts Here -->

<div class="row">
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card bg-gradient-warning shadow h-100 py-2">
            <!-- Today Caisse -->
            <a href="{% url 'employee:list_employee' %}">
                <div class="card-body text-center">
             <h2 class=" font-weight-bold text-white text-uppercase mb-2">{% trans "Weekly Salary" %}</h2>
                        <div class="h3 mb-0 font-weight-bold text-white">{{total_salary}} {% trans " DZD" %}</div>
            </div>
            </a>
        </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card bg-gradient-warning shadow h-100 py-2">
            <!-- Today Caisse -->
            <a href="{% url 'sellorder:get_orders_pannes' %}">
                <div class="card-body text-center">
             <h2 class=" font-weight-bold text-white text-uppercase mb-2">{% trans "Workshop Chief 10%" %}</h2>
                        <div class="h3 mb-0 font-weight-bold text-white">{{chief_percentage}} {% trans " DZD" %}</div>
            </div>
            </a>
        </div>
    </div>

</div>
<!-- Third Salary row Ends Here -->
<hr>
<!-- Fourth row Starts Here -->

<div class="row">
    <!-- First Cards row Starts Here -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <a href=" {% url 'customer:customer_debt_list'%} ">
                <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{% trans "Customers" %}</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{% if totaldebt %}{{totaldebt}}{% else %} 0 {% trans "DZD"%} {% endif %}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-tie fa-2x text-primary"></i>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">{% trans "Suppliers Credit" %}</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"> {{totalcredit}} {% trans "DZD" %}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-truck fa-2x text-warning"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">{% trans "Service Provider Credit" %}</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{% if total_provider_credit %}{{total_provider_credit}} {% else %} 0 {% endif %}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-cogs fa-2x text-info"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <a href="{% url 'stock:stockproduct_stockalert'%}">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{% trans "Stock Alert" %}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"> {% if stockproductsalertcount %}{{stockproductsalertcount}}{% else %} 0 {% endif %}</div>

                        </div>
                        <div class="col-auto">
                            <i class="fas fa-boxes fa-2x text-danger text-300"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- First Cards row Ends Here -->
    <br>
    <div class="col-xl-12 col-md-12 mb-4">
        <hr>
    </div>
    <br>
    <!-- Second Cards row Starts Here -->
    <!-- Customers -->
    <div class="col-xl-4 col-md-6 col-sm-12 mb-4">
        <div class="card border-top-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"><h4>{% trans "Customers" %}</h4></div>
                    <table>
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Amount</td>
                    <td>General Debt</td>
                </tr>
                </thead>
                <tbody>
                {% for customer in top_five_customers %}
                <tr>
                    <td>{{customer}}</td>
                    <td>{{customer.get_debt}}</td>
                    <td>{{customer.debt}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Suppliers -->
    <div class="col-xl-4 col-md-6 col-sm-12 mb-4">
        <div class="card border-right-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1"><h4>{% trans "Suppliers" %}</h4></div>
                    <table>
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Amount</td>
                    <td>General Debt</td>
                </tr>
                </thead>
                <tbody>
                {% for supplier in top_five_suppliers %}
                <tr>
                    <td>{{supplier}}</td>
                    <td>{{supplier.get_credit}}</td>
                    <td>{{supplier.credit}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Provider -->
    <div class="col-xl-4 col-md-6 col-sm-12 mb-4">
        <div class="card border-right-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1"><h4>{% trans "Providers" %}</h4></div>
                    <table>
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Amount</td>
                </tr>
                </thead>
                <tbody>
                {% for provider in top_five_providers %}
                <tr>
                    <td>{{provider}}</td>
                    <td>{{provider.get_credit}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Cards row Ends Here -->
    <br>
    <div class="col-xl-12 col-md-12 mb-4">
        <hr>
    </div>
    <br>

</div>
<hr>
{% endif %}

<!-- ********************Desk Helper View************** -->
{% if request.user|has_group:"desk_helper" %}
<!-- First Caisse row Starts Here -->
<div class="row">
    <div class="col-xl-3 col-md-3 mb-4">
        <div class="card bg-gradient-success shadow h-100 py-2">
            <!-- Today Caisse -->
            <a href="{% url 'caisse:today_transaction_list' %}">
                <div class="card-body text-center">
             <h2 class=" font-weight-bold text-white text-uppercase mb-2">{% trans "Today Caisse" %}</h2>
                        <div class="h3 mb-0 font-weight-bold text-white">{{today_caisse}} {% trans " DZD" %}</div>
            </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-3 mb-4">
        <div class="card bg-gradient-success shadow h-100 py-2">
            <a href="{% url 'sellorder:get_orders_pannes' %}">
                <div class="card-body text-center">
             <h2 class=" font-weight-bold text-white text-uppercase mb-2">{% trans "MO" %}</h2>
                        <div class="h3 mb-0 font-weight-bold text-white">{{totaltodaypanne}} {% trans " DZD" %}</div>

            </div>
            </a>

        </div>
    </div>
    <div class="col-xl-3 col-md-3 mb-4">
        <div class="card bg-gradient-info shadow h-100 py-2">
         <a href="{% url 'sellorder:get_orders_pieces' %}">
            <div class="card-body text-center">
                             <h2 class=" font-weight-bold text-white text-uppercase ">{% trans "Piece" %}</h2>
                        <div class="h3 mb-0 font-weight-bold text-white">{{totaltodaypiece}} {% trans "DZD" %}</div>

            </div>
         </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <a href="{% url 'stock:stockproduct_stockalert'%}">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{% trans "Stock Alert" %}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"> {% if stockproductsalertcount %}{{stockproductsalertcount}}{% else %} 0 {% endif %}</div>

                        </div>
                        <div class="col-auto">
                            <i class="fas fa-boxes fa-2x text-danger text-300"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endif %}
<!-- New row Starts Here -->
<!-- Second row Starts Here Calendar -->
<div class="row">
    <div class="clearfix">
        <a class="btn btn-dark right mr-2" href="{% url 'accounts:home' %}?{{ next_month }} "> {% trans "Next Month " %} >></a>
        <a class="btn btn-dark right mr-2" href="{% url 'accounts:home' %}?{{ prev_month }}"> << {% trans " Previous Month" %} </a>
        <a class="btn btn-dark right mr-2" href="{% url 'rdv:create_rdv_customer' %}"> + {% trans "New RDV" %} </a>

    </div>
    <div class="text-dark">
        {{ calendar }}
    </div>
    <br>
</div>
<br>
<div class="row">
    <div class="col-12">
        <hr>
    </div>
</div>
<div class="row">

</div>

{% endblock %}
{% block jsscript %}

<!-- custom javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"/>

{% endblock %}