{% extends 'home.html' %}
{% load static %}
<head>
    <style>
 /*Calendar CSS*/
.calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
    background: -webkit-linear-gradient(left, #25c481, #25b7c4) !important;
    background: linear-gradient(to right, #25c481, #25b7c4)  !important;
  }

  .calendar tr, .calendar td {
    border: 1px solid black;
  }

  .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }

  .calendar td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
  }

  .month {
    font-size: 25px;
  }

  .date {
    font-size: 16px;
  }


    </style>
</head>
{% block content %}
<!-- First Caisse row Starts Here -->
<div class="row">
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card bg-primary shadow h-100 py-2">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-9">
                        <h1 class="bg-primary text-white">Caisse</h1>
                    </div>
                    <div class="col-3">
                        <a class="mr-3" href="{% url 'caisse:create_transaction' %}"><i
                                class="fas fa-plus-square fa-2x text-white"></i></a>
                        <a class="mr-0" href="{% url 'caisse:transaction_list' %}"><i
                                class="fas fa-list-ul fa-2x text-white"></i></a>
                    </div>
                </div>


            </div>
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Caisse</div>
                        <div class="h3 mb-0 font-weight-bold text-white">{{caisse}} DZD</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-coins fa-5x text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-3 mb-4">
        <div class="card bg-gradient-success shadow h-100 py-2">
            <a href="{% url 'sellorder:get_orders_pannes' %}">
                <div class="card-body text-center">
             <h2 class=" font-weight-bold text-white text-uppercase mb-2">MO</h2>
                        <div class="h3 mb-0 font-weight-bold text-white">{{totaltodaypanne}} DZD</div>

            </div>
            </a>

        </div>
    </div>
    <div class="col-xl-3 col-md-3 mb-4">
        <div class="card bg-gradient-info shadow h-100 py-2">
         <a href="{% url 'sellorder:get_orders_pieces' %}">
            <div class="card-body text-center">
                             <h2 class=" font-weight-bold text-white text-uppercase ">Piece</h2>
                        <div class="h3 mb-0 font-weight-bold text-white">{{totaltodaypiece}} DZD</div>

            </div>
         </a>
        </div>
    </div>
</div>
<!-- First Caisse row Ends Here -->

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <a href=" {% url 'customer:customer_debt_list'%} ">
                <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Customers</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{% if totaldebt %}{{totaldebt}}{% else %} 0 DZD {% endif %}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-tie fa-2x text-primary"></i>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Sell Orders</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{% if sellorder_number %}{{sellorder_number}}{% else %} 0 {% endif %}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-success"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Buy Orders</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{% if buyorder_number %}{{buyorder_number}} {% else %} 0 {% endif %}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-info"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Suppliers</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{% if suppliers %}{{suppliers}}{% else %} 0 {% endif %}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-truck fa-2x text-warning"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- First Cards row Ends Here -->
    <br>
    <div class="col-xl-12 col-md-12 mb-4">
        <hr>
    </div>
    <br>
    <!-- Second Cards row Starts Here -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <a href="{% url 'stock:stockproduct_stockalert'%}">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Stock Alert</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"> {% if stockproductsalertcount %}{{stockproductsalertcount}}{% else %} 0 {% endif %}</div>

                        </div>
                        <div class="col-auto">
                            <i class="fas fa-boxes fa-2x text-danger text-300"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <a href="{% url 'sellorder:sellorder_list' %}">
                <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Sell Order</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalsellorders}} DZD</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-success"></i>
                    </div>
                </div>
            </div>
            </a>

        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
           <a href="{% url 'buyorder:buyorder_list' %}">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Buy Orders</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalbuyorders}} DZD</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-info"></i>
                    </div>
                </div>
            </div>
           </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Suppliers Credit</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"> {{totalcredit}} DZD</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-truck fa-2x text-warning"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- First Cards row Ends Here -->
    <br>
    <div class="col-xl-12 col-md-12 mb-4">
        <hr>
    </div>
    <br>

</div>
<!-- New row Starts Here -->
<!-- Second row Starts Here Calendar -->
<div class="row">
    <div class="clearfix">
        <a class="btn btn-info right mr-2" href="{% url 'accounts:home' %}?{{ next_month }} "> Next Month >> </a>
        <a class="btn btn-info right mr-2" href="{% url 'accounts:home' %}?{{ prev_month }}"> << Previous Month </a>
        <a class="btn btn-info right mr-2" href="{% url 'rdv:create_rdv_customer' %}"> + New RDV </a>

    </div>
    <div class="bg-gradient-info text-gray-100">
        {{ calendar }}
    </div>
    <br>
</div>
<br>
<div class="row">
    <div class="col-12">
        <hr>
    </div>
</div>
<div class="row">

</div>

{% endblock %}
{% block jsscript %}
<!-- Data Table  -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<!-- custom javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"/>
<!-- Data Table  -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<!-- Chart -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}