{% load  static %}
{% load i18n %}
{% load erpextra %}
<!-- how the translation is done
1- django-admin makemessages -l fr
2- django-admin compilemessages
-->
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-cogs"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Garage <sup>My</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>{% trans "Dashboard" %}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        {% trans "Interface" %}
    </div>
    {% if request.user|has_group:"admin" %}
     <!-- Nav Item - User Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser"
           aria-expanded="true" aria-controls="collapseUser">
            <i class="fas fa-user-tie"></i>
            <span>{% trans "User"%}</span>
        </a>
        <div id="collapseUser" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations"%} :</h6>
                <a class="collapse-item" href="{% url 'accounts:add_user' %}">{% trans "Add"%}</a>
                <a class="collapse-item" href="{% url 'accounts:users_list' %}">{% trans "List"%}</a>
            </div>
        </div>
    </li>
    {% endif %}

    {% if request.user|has_group:"admin" %}
    <!-- Nav Item - Employee Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmployee"
           aria-expanded="true" aria-controls="collapseEmployee">
            <i class="fas fa-users"></i>
            <span>{% trans "Employees"%}</span>
        </a>
        <div id="collapseEmployee" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations"%} :</h6>
                <a class="collapse-item" href="{% url 'employee:add_employee' %}">{% trans "Add Employee"%}</a>
                <a class="collapse-item" href="{% url 'employee:list_employee' %}">{% trans "Employee List"%}</a>
                <hr>
                <a class="collapse-item" href="{% url 'employee:add_job' %}">{% trans "Add Job"%}</a>
                <a class="collapse-item" href="{% url 'employee:list_job' %}">{% trans "Job List"%}</a>
            </div>
        </div>
    </li>
    {% endif %}


{% if request.user|has_group:"admin" or request.user|has_group:"desk_helper" %}
<!-- Nav Item - Caisse Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCaisse"
           aria-expanded="true" aria-controls="collapseCaisse">
            <i class="fas fa-coins"></i>
            <span>{% trans "Caisse" %}</span>
        </a>
        <div id="collapseCaisse" class="collapse" aria-labelledby="headingCaisse" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations" %} :</h6>
                <a class="collapse-item" href="{% url 'caisse:create_transaction' %}">{% trans "Add" %}</a>

            {% if request.user|has_group:"admin" %}
                <a class="collapse-item" href="{% url 'caisse:transaction_list' %}">{% trans "List" %}</a>
            {% endif %}
                <hr>
                <a class="collapse-item" href="{% url 'caisse:create_transaction_category' %}">{% trans "Add Category" %}</a>
            {% if request.user|has_group:"admin" %}
                <a class="collapse-item" href="{% url 'caisse:transaction_category_list' %}">{% trans "Category List" %}</a>
            {% endif %}
            </div>
        </div>
    </li>

    <!-- Nav Item - Vehicle Type Brand Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseType"
           aria-expanded="true" aria-controls="collapseType">
    <i class="fas fa-car-alt"></i>
            <span>{% trans "Vehicle" %}</span>
        </a>
        <div id="collapseType" class="collapse" aria-labelledby="headingType" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations" %} :</h6>
                <a class="collapse-item" href="{% url 'vehicule:add_brand' %}">{% trans "Add Brand" %}</a>
                <a class="collapse-item" href="{% url 'vehicule:brand_list' %}">{% trans "Brand List" %}</a>
                <hr>
                <a class="collapse-item" href="{% url 'vehicule:add_type' %}">{% trans "Add Type" %} </a>
                <a class="collapse-item" href="{% url 'vehicule:all_type_list' %}">{% trans "Type List" %}</a>
                <hr>
                <a class="collapse-item" href="{% url 'vehicule:add_vehicule' %}">{% trans "Add Vehicle" %}</a>
                <a class="collapse-item" href="{% url 'vehicule:all_vehicule_list' %}">{% trans "Vehicle List" %}</a>
            </div>
        </div>
    </li>


    <!-- Nav Item - Customer Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomer"
           aria-expanded="true" aria-controls="collapseCustomer">
            <i class="fas fa-user-tie"></i>
            <span>{% trans "Customer" %}</span>
        </a>
        <div id="collapseCustomer" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations"%} :</h6>
                <a class="collapse-item" href="{% url 'customer:add_customer' %}">{% trans "Add" %}</a>
                <a class="collapse-item" href="{% url 'customer:customer_list' %}">{% trans "List" %}</a>
                <hr>
                <a class="collapse-item" href="{% url 'customer:enterprise_list' %}">{% trans "Enterprise List" %}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Rdv Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRdv"
           aria-expanded="true" aria-controls="collapseRdv">
            <i class="fas fa-user-clock"></i>
            <span>{% trans "Rdv" %}</span>
        </a>
        <div id="collapseRdv" class="collapse" aria-labelledby="headingRdv" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations" %} :</h6>
                <a class="collapse-item" href="{% url 'rdv:create_rdv_customer' %}">{% trans "Add" %}</a>
                <a class="collapse-item" href="{% url 'rdv:rdv_list' %}">{% trans "List" %}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Panne Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePanne"
           aria-expanded="true" aria-controls="collapsePanne">
            <i class="fas fa-cog"></i>
            <span>{% trans "Panne" %}</span>
        </a>
        <div id="collapsePanne" class="collapse" aria-labelledby="headingPanne" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations" %} :</h6>
                <a class="collapse-item" href="{% url 'rdv:create_panne' %}">{% trans "Add" %}</a>
                <a class="collapse-item" href="{% url 'rdv:panne_list' %}">{% trans "List" %}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Services Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseService"
           aria-expanded="true" aria-controls="collapseService">
            <i class="fas fa-cogs"></i>
            <span>{% trans "Service" %}</span>
        </a>
        <div id="collapseService" class="collapse" aria-labelledby="headingService" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Service"%} :</h6>
                <a class="collapse-item" href="{% url 'services:add_service' %}">{% trans "Add" %}</a>
                <a class="collapse-item" href="{% url 'services:service_list' %}">{% trans "List" %}</a>
                <hr>
                <h6 class="collapse-header">{% trans "Provider"%} :</h6>
                <a class="collapse-item" href="{% url 'services:add_provider' %}">{% trans "Add" %}</a>
                <a class="collapse-item" href="{% url 'services:provider_list' %}">{% trans "List" %}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Supplier Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsesupplier"
           aria-expanded="true" aria-controls="collapsesupplier">
            <i class="fas fa-truck"></i>
            <span>{% trans "Supplier" %}</span>
        </a>
        <div id="collapsesupplier" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations" %} :</h6>
                <a class="collapse-item" href="{% url 'supplier:add_supplier' %}">{% trans "Add" %}</a>
                <a class="collapse-item" href="{% url 'supplier:supplier_list' %}">{% trans "List" %}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - City Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCity"
           aria-expanded="true" aria-controls="collapseCity">
            <i class="fas fa-city"></i>
            <span>{% trans "City" %}</span>
        </a>
        <div id="collapseCity" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations" %} :</h6>
                <a class="collapse-item" href="{% url 'customer:add_city' %}">{% trans "Add" %}</a>
                <a class="collapse-item" href="{% url 'customer:city_list' %}">{% trans "List" %}</a>
            </div>
        </div>
    </li>
{% endif %}
<!-- What Stock Agent can see starts here-->
    <!-- Nav Item - Stock Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsestock"
           aria-expanded="true" aria-controls="collapsestock">
            <i class="fas fa-boxes"></i>
            <span>{% trans "Stock" %}</span>
        </a>
        <div id="collapsestock" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations" %} :</h6>
                <a class="collapse-item" href="{% url 'stock:add_stock' %}">{% trans "Add" %}</a>
                <a class="collapse-item" href="{% url 'stock:all_stock_list' %}">{% trans "List" %}</a>
                <hr>
                <a class="collapse-item" href="{% url 'stock:calculate_general_stock' %}">{% trans "Status" %} </a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Product Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseproduct"
           aria-expanded="true" aria-controls="collapseproduct">
            <i class="fas fa-box"></i>
            <span>{% trans "Product" %}</span>
        </a>
        <div id="collapseproduct" class="collapse" aria-labelledby="headingproduct" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations" %} :</h6>
                <a class="collapse-item" href="{% url 'product:add_product' %}">{% trans "Add" %}</a>
                <a class="collapse-item" href="{% url 'product:all_product_list' %}">{% trans "List" %}</a>
            </div>
        </div>
    </li>

        <!-- Nav Item - StockProduct Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsestockproduct"
           aria-expanded="true" aria-controls="collapsestockproduct">
            <i class="fas fa-pallet"></i>
            <span>{% trans "Stock Products" %}</span>
        </a>
        <div id="collapsestockproduct" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations" %} :</h6>
                <a class="collapse-item" href="{% url 'stock:all_stockproduct_list' %}">{% trans "List" %}</a>
            </div>
        </div>
    </li>

<!-- What Stock Agent can see ends here-->
    {% if request.user|has_group:"admin" or request.user|has_group:"desk_helper" %}

    <!-- Nav Item - Buyorder Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsebuyorder"
           aria-expanded="true" aria-controls="collapsebuyorder">
            <i class="fas fa-clipboard-list"></i>
            <span>{% trans "Buyorder" %}</span>
        </a>
        <div id="collapsebuyorder" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations" %} :</h6>
                <a class="collapse-item" href="{% url 'buyorder:create_buyorder' %}">{% trans "Add" %}</a>
                <a class="collapse-item" href="{% url 'buyorder:buyorder_list' %}">{% trans "List" %}</a>
                <a class="collapse-item" href="{% url 'buyorder:buyorder_list_by_date' %}">{% trans "List By Date" %}</a>

            </div>
        </div>
    </li>

     <!-- Nav Item - Sellorder Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsesellorder"
           aria-expanded="true" aria-controls="collapsesellorder">
            <i class="fas fa-clipboard-list"></i>
            <span>{% trans "Sell Order" %}</span>
        </a>
        <div id="collapsesellorder" class="collapse" aria-labelledby="headingsellorder" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans "Operations" %} :</h6>
                <a class="collapse-item" href="{% url 'customer:sellorder_customer_list' %}">{% trans "Add" %}</a>
                <a class="collapse-item" href="{% url 'sellorder:sellorder_list' %}">{% trans "List" %}</a>
                <a class="collapse-item" href="{% url 'sellorder:sellorder_list_by_date' %}">{% trans "List By Date" %}</a>
                <a class="collapse-item" href="{% url 'sellorder:sellorder_list_by_service' %}">{% trans "List By Service" %}</a>
                <hr>
                <a class="collapse-item" href="{% url 'stock:performa_order_stockproduct_list' %}">{% trans "Add Proforma" %}</a>
                <a class="collapse-item" href="{% url 'sellorder:performa_sellorder_list' %}">{% trans "Proforma List" %}</a>
                <hr>
                <a class="collapse-item" href="{% url 'sellorder:factured_sellorder_list' %}">{% trans "Facture List" %}</a>

            </div>
        </div>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        {% trans "More Info" %}
    </div>
              <!-- Nav Item - Payments -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'payments:customer_payment_list' %}">
            <i class="fas fa-search-dollar"></i>
            <span>{% trans "Customers Payments" %}</span></a>
    </li>

    <!-- Nav Item - Supplier Payments -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'payments:supplier_payment_list' %}">
            <i class="fas fa-search-dollar"></i>
            <span>{% trans "Suppliers Payments" %}</span></a>
    </li>
{% endif %}
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    {% get_current_language as LANGUAGE_CODE %}
          <form action="{% url 'set_language'%}" method="post">
              {%csrf_token%}
              <input type="hidden" name="next" value="{{ redirect_to }}">
              <select class="form-control" name="language" id="">
                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for LANGUAGES as languages %}
                  {% for language in languages %}
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                       <i class="fas fa-clipboard-list"></i>  {{ language.name_local}} {{ language.code }}
                    </option>
                  {% endfor %}
              </select>
              <input class="btn btn-warning btn-block mt-3" type="submit" value="Go">
          </form>
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>
<!-- End of Sidebar -->