{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<br>
<div class="container">
    <div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>{% trans "Suppliers" %}</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>{% trans "City" %}</th>

                </tr>

                {% for supplier in suppliers %}
                <tr>
                   <td>
                       {{supplier.firstname}}
                       {{supplier.lastname}}
                   </td>
                    <td>
                        <a class="btn btn-info " href="{% url 'buyorder:buyorderorder_list_by_supplier' supplier.id %}">{% trans "Bill" %}</a>
                    </td>

                </tr>

                {% endfor %}
            </table>
        </div>
    </div>
</div>

</div>
{% endblock %}
