{% extends "home.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>{% trans "Order Details" %}</h5>
        </div>
    <div class="card card-body">
        <div class="row">
            <div class="col-md-3">
                    <h6>{% trans "Supplier" %}: </h6>
                    <td>{{ supplier.firstname }} {{ supplier.lastname }}</td>
            </div>
            <div class="col-md-3">
                    <h6>{% trans "Address" %}: </h6>
                    <td>{{ supplier.address }}</td>
            </div>
            <div class="col-md-3">
                    <h6>{% trans "Phone" %}: </h6>
                    <td>{{ supplier.phone }}</td>
            </div>
            <div class="col-md-3">
                    <h6>{% trans "Credit" %}: </h6>
                    <td>{{ supplier.get_credit }}</td>
            </div>
        </div>
        <hr>
        <br>
        <h2>{% trans "Orders" %}</h2>
        <hr>
        <table id="table_order">
            <thead class="thead-light">
            <tr>
                <th>{% trans "Order ID" %}</th>
                    <th>{% trans "Supplier" %}</th>
                    <th>{% trans "Address" %}</th>
                    <th>{% trans "HT" %}</th>
                    <th>{% trans "TTC" %}</th>
                    <th>{% trans "Credit" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th></th>
                    <th></th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            <tr>
                <td>{{order.id}}</td>
                    <td>{{order.supplier}}</td>
                    <td>{{order.supplier.address}}</td>
                    <td>{{order.get_total_cost}} {% trans "DZD" %}</td>
                    <td>{{order.get_ttc}} {% trans "DZD" %}</td>
                    <td>{{order.debt}} {% trans "DZD" %}</td>
                    <td>{{order.order_date}}</td>
                    <td>
                        {% if order.debt > 0%}
                            <a class="btn btn-primary " href="{% url 'payments:create_supplier_payment' order.id %}">{% trans "PayDebt" %}</a>
                        {% endif %}
                    </td>

                    <td>
                           <a class="btn btn-warning " href="{% url 'buyorder:buyorder_details' order.id %}">{% trans "Details" %}</a>
                    </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <hr>
        <br>
        <h2>{% trans "Not Confirmed Orders" %}</h2>
        <hr>
        <table id="table_unconfirmed_order">
            <thead class="thead-light">
            <tr>
                <th>{% trans "Order ID" %}</th>
                    <th>{% trans "Supplier" %}</th>
                    <th>{% trans "Address" %}</th>
                    <th>{% trans "HT" %}</th>
                    <th>{% trans "TTC" %}</th>
                    <th>{% trans "Credit" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th></th>
                    <th></th>
            </tr>
            </thead>
            <tbody>
            {% for order in unconfirmed_orders %}
            <tr>
                <td>{{order.id}}</td>
                    <td>{{order.supplier}}</td>
                    <td>{{order.supplier.address}}</td>
                    <td>{{order.get_total_cost}} {% trans "DZD" %}</td>
                    <td>{{order.get_ttc}} {% trans "DZD" %}</td>
                    <td>{{order.debt}} {% trans "DZD" %}</td>
                    <td>{{order.order_date}}</td>
                    <td>
                        {% if order.debt > 0%}
                            <a class="btn btn-primary " href="{% url 'payments:create_supplier_payment' order.id %}">{% trans "PayDebt" %}</a>
                        {% endif %}
                    </td>

                    <td>
                           <a class="btn btn-warning " href="{% url 'buyorder:buyorder_details' order.id %}">{% trans "Details" %}</a>
                    </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
        <br>
        <h2>{% trans "Payments" %}</h2>
        <hr>
        <table id="table_payment" class="display text-center">
                    <thead>
                    <tr>
                        <th>{% trans "Supplier" %}</th>
                        <th>{% trans "Pay Status" %}</th>
                        <th>{% trans "Amount" %}</th>
                        <th>{% trans "Created" %}</th>
                        <th>{% trans "Payed" %}</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for payment in payments %}
                    <tr>
                        <td>
                            {{payment.supplier}}
                        </td>
                        <td>
                            {{payment.pay_status}}
                        </td>
                        <td>
                            {{payment.amount}}
                        </td>
                        <td>
                            {{payment.created}}
                        </td>
                        <td>
                            {{payment.pay_date}}
                        </td>
                        <td>
                            {% if payment.order.id %}
                            <a class="btn btn-warning " href="{% url 'buyorder:buyorder_details' payment.order.id %}">{% trans "Details" %}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if payment.order.id %}
                               <a class="btn btn-danger " href="{% url 'payments:delete_supplier_payment' payment.id %}">{% trans "Delete Order Payment" %}</a>
                            {% else %}
                                <a class="btn btn-danger " href="{% url 'payments:delete_supplier_by_supplier_payment' payment.id %}">{% trans "Delete Supplier Payment" %}</a>
                            {% endif %}
                        </td>
                    </tr>

                    {% endfor %}
                    </tbody>
                </table>

    </div>
    </div>
</div>
{% endblock %}