{% extends 'home.html' %}
{% load static %}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Orders</h5>
        </div>
        <div class="card card-body">
            <form action="" method="post">
                {% csrf_token %}
                <table class="table">
                    {% for order in sellorders %}

                    <thead>
                    <tr>
                        <th>
                            <label class="form-check-label" for="{{order.id}}"/>
                        </th>
                        <th>Order ID</th>
                        <th>Total Price</th>
                        <th>Total Weight</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input class="form-check-input" type="checkbox" value="{{order.id}}" id="{{order.id}}"
                                   name="orders">
                        </td>
                        <td>{{order.id}}</td>
                        <td>DZD {{order.get_total_cost}}</td>
                        <td>KG {{order.get_total_weight}}</td>
                        <td>
                            <a class="btn btn-warning " href="{% url 'sellorder:sellorder_pdf' order.id %}">Print</a>
                        </td>
                    </tr>

                    <thead class="thead-light">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total Cost</th>
                        <th>Total Weight</th>
                        <th></th>
                    </tr>
                    </thead>

                    {% for item in order.items.all %}
                    <tr>
                        <td class="table-light"></td>
                        <td class="table-light"></td>
                        <td class="table-light">{{ item.product.name }}</td>
                        <td class="table-light ">DZD{{ item.price }}</td>
                        <td class="table-light ">{{ item.quantity }}</td>
                        <td class="table-light">DZD{{ item.get_cost }}</td>
                        <td class="table-light">KG {{ item.get_weight }}</td>
                        <td class="table-light"></td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    </tbody>

                    {% endfor %}
                    <tr class="text-center">
                        <td class="text-center">
                            <input class="btn btn-primary" type="submit" name="submit">

                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

{% endblock %}
