{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>{% trans "Orders" %}</h5>
        </div>
        <div class="card card-body">
            <form action="" method="post">
                {% csrf_token %}
                <table class="table">
                    {% for order in sellorders %}

                    <thead>
                    <tr>
                        <th>
                            <label class="form-check-label" for="{{order.id}}"/>
                        </th>
                        <th>{% trans "Order ID" %}</th>
                        <th>{% trans "Total Price" %}</th>
                        <th>{% trans "Total Weight" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input class="form-check-input" type="checkbox" value="{{order.id}}" id="{{order.id}}"
                                   name="orders">
                        </td>
                        <td>{{order.id}}</td>
                        <td>{% trans "DZD" %} {{order.get_total_cost}}</td>
                        <td>{% trans "KG" %} {{order.get_total_weight}}</td>
                        <td>
                            <a class="btn btn-warning " href="{% url 'sellorder:sellorder_pdf' order.id %}">{% trans "Print" %}</a>
                        </td>
                    </tr>

                    <thead class="thead-light">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>{% trans "Product Name" %}</th>
                        <th>{% trans "Price" %}</th>
                        <th>{% trans "Quantity" %}</th>
                        <th>{% trans "Total Cost" %}</th>
                        <th>{% trans "Total Weight" %}</th>
                        <th></th>
                    </tr>
                    </thead>

                    {% for item in order.items.all %}
                    <tr>
                        <td class="table-light"></td>
                        <td class="table-light"></td>
                        <td class="table-light">{{ item.product.name }}</td>
                        <td class="table-light ">{% trans "DZD" %}{{ item.price }}</td>
                        <td class="table-light ">{{ item.quantity }}</td>
                        <td class="table-light">{% trans "DZD" %}{{ item.get_cost }}</td>
                        <td class="table-light">{% trans "KG" %} {{ item.get_weight }}</td>
                        <td class="table-light"></td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    </tbody>

                    {% endfor %}
                    <tr class="text-center">
                        <td class="text-center">
                            <input class="btn btn-primary" type="submit" name="submit">

                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

{% endblock %}
