{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load search_pagination_url %}

{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            {% if list_type == 1 %}
            <h1 class="text-primary"><i class="fa-solid fa-sheet-plastic"></i> {% trans "Sell Orders" %} </h1>
            {% endif %}
            {% if list_type == 2 %}
            <h5>{% trans "Facture List" %}</h5>
            {% endif %}
            {% if list_type == 3 %}
            <h5>{% trans "Proforma list" %}</h5>
            {% endif %}
        </div>
        <div class="card card-body">
            <div class="row">
                    <div class="col">
                        <div class="card card-body">
                            <form method="get">
                                {{myFilter.form}}
                                <button class="btn btn-primary" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
        <div class="card card-body">
            <table id="table_id" class="table display text-center">
                <thead>
                <tr>
                    <th>{% trans "Order ID" %}</th>
                    <th>{% trans "Customer" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Vehicle" %}</th>
                    <th>{% trans "Total Piece" %}</th>
                    <th>{% trans "Total Panne" %}</th>
                    <th>{% trans "HT" %}</th>
                    <th>{% trans "TVA" %}</th>
                    <th>{% trans "Discount" %}</th>
                    <th>{% trans "TTC" %}</th>
                    <th>{% trans "Debt" %}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for order in sellorders %}

                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.customer}}</td>
                    <td>{{order.order_date}}</td>
                    <td>{{order.vehicle}}</td>
                    <td>{{order.get_total_cost}} {% trans "DZD" %}</td>
                    <td>{{order.get_total_panne}} {% trans "DZD" %}</td>
                    <td>{{order.get_total_item_panne}} {% trans "DZD" %}</td>
                    <td>{{order.get_tva}} {% trans "DZD" %}</td>
                    <td>{{order.discount_amount}} {% trans "DZD" %}</td>
                    <td>{{order.get_ttc}} {% trans "DZD" %}</td>
                    <td>{{order.debt}} {% trans "DZD" %}</td>


                    <td>
                        {% if order.factured %}
                        {% else %}
                             <a class="btn btn-primary " href="{% url 'sellorder:sellorder_facture' order.id %}">{% trans "Facture" %}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if order.confirmed %}
                             <a class="btn btn-info " href="{% url 'sellorder:update_order' order.id %}">{% trans "Update" %}</a>
                        {% else %}
                             <a class="btn btn-success " href="{% url 'sellorder:confirm_order' order.id %}">{% trans "Confirm" %}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if order.debt > 0 and order.confirmed %}
                            <a class="btn btn-primary " href="{% url 'payments:create_customer_payment' order.id %}">{% trans "PayDebt" %}</a>
                        {% else %}
                        {% if not order.confirmed %}
                            <a class="btn btn-primary " href="{% url 'sellorder:update_order_performa' order.id %}">{% trans "Update" %}</a>
                        {% endif %}
                        {% endif %}
                    </td>

                    <td>
                           <a class="btn btn-warning " href="{% url 'sellorder:sellorder_details' order.id %}">{% trans "Details" %}</a>
                    </td>
                    <td>
                           <a class="btn btn-danger " href="{% url 'sellorder:sellorder_delete' order.id %}">{% trans "Delete" %}</a>
                    </td>
                </tr>

                {% endfor %}
                </tbody>
            </table>
            <br>
             <!--  Pagination -->
                    {% if sellorders.has_other_pages %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if sellorders.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"
                                        href="?{% param_replace page=sellorders.previous_page_number %}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="disabled page-item">
                                <a class="page-link"
                                   href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                                {% endif %}
                        {% for i in sellorders.paginator.page_range %}
                            {% if sellorders.number > 3 and forloop.first %}
                                <li class="page-item">
                                    <a class="page-link" href="?{% param_replace page=1 %}">
                                    1
                                        </a>
                                </li>
                                <li class="disabled">⋯</li>
                            {% endif %}
                            {% if sellorders.number == i %}
                                <li class="page-item active">
                                    <span>
                                        <a class="page-link" href="#">
                                        {{ i }}
                                            <span class="sr-only">(current)
                                            </span>
                                        </a>
                                    </span>
                                </li>
                            {% elif i > sellorders.number|add:'-3' and i < sellorders.number|add:'3' %}
                                <li class="page-item">
                                    <a class="page-link" href="?{% param_replace page=i %}">
                                        {{ i }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if sellorders.paginator.num_pages > sellorders.number|add:'3' and forloop.last %}
                                <li>...</li>
                                <li class="page-item">
                                    <a class="page-link" href="?{% param_replace page=sellorders.paginator.num_pages %}">
                                    {{ sellorders.paginator.num_pages }}
                                        </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if sellorders.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?{% param_replace page=sellorders.next_page_number %}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled page-item">
                                <a class="page-link disabled"
                                   href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                        </nav>
                    {% endif %}
            <!--  Pagination -->
        </div>
    </div>
</div>


{% endblock %}
{% block jsscript %}
<!-- Date Picker-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<!-- custom javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"/>

<!-- Date Picker-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script type='text/javascript'>



</script>
{% endblock %}