{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Order Confirmation</h5>
        </div>
        <div class="card card-body">
            <h2>Customer: <span>{{customer}}</span></h2>
                <label for="total-price">Total :</label>

            <input id="total-price" type="number" class="form-control" value="{{sellorder.get_total_cost}}" disabled>
            <form action="" method="post">
                {% csrf_token %}
                <hr>
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Customer</th>
                        <th>Vehicle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{sellorder.id}}</td>
                        <td>{{sellorder.customer}}</td>
                        <td>{{sellorder.vehicle}}</td>
                    </tr>
                    <thead class="thead-light">
                    <tr>

                        <th>Product Name</th>
                        <th>Price DZD</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    {% for item in sellorder.items.all %}
                    <tr>
                        <td class="table-light">
                            <input class="form-control" type="text" value="{{ item.stockproduct.product.name }}" name="names"
                                   disabled>
                        </td>
                        <td class="table-light ">
                            <input onkeyup="calc()" class="form-control" type="number" name="prices" value="{{ item.price }}">

                        </td>
                        <td class="table-light ">
                            <input onkeyup="calc()" class="form-control" type="number" name="quantities" value="{{ item.quantity }}">
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tr>
                    </tr>
                    <tr class="text-center">
                        <td class="text-center">
                            <input class="btn btn-primary" type="submit" name="submit">

                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<script>
    function calc(){
    var prices = document.getElementsByName("prices");
    var quantities = document.getElementsByName("quantities");
    var discount_status = document.getElementsByName("discount_status");
    var discount_value = document.getElementsByName("value");
    var total_price = 0;
    // console.log(prices);
    for (var i = 0; i<prices.length; i++)
    {
    if (i == 0){
        document.getElementById("total-price").value = prices[i].value * quantities[i].value;

    }else {
           var total_price =  parseFloat(document.getElementById("total-price").value);
           total_price += parseFloat(prices[i].value * quantities[i].value);
           document.getElementById("total-price").value = total_price;
           console.log(total_price);

    }
    }
     console.log(discount_status.value);
     console.log(discount_value.value);
    }

</script>
{% endblock %}
