{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Today Pieces</h5>
        </div>
        <div class="card card-body">
             <br>
            <h5 class="text-center text-success">Total : {{totalpiece}} DZD</h5>
            <br>
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label> {% trans "Pick a Date" %}</label>
                    <br>
                    {{dateform}}
                    <br>
                    <input class="btn btn-primary" type="submit" value="Validate">
                </div>
            </form>
            <br>
            <hr>
            <table id="table_id" class="table display text-center">
                <thead class="thead-light">
                <tr>
                    <th>Product Brand</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in pieces %}
                <tr>
                    <td class="table-light">{{ item.stockproduct.product.brand }}</td>
                    <td class="table-light">{{ item.stockproduct.product.name }}</td>
                    <td class="table-light ">DZD{{ item.price }}</td>
                    <td class="table-light ">{{ item.quantity }}</td>
                    <td class="table-light">DZD{{ item.get_cost }}</td>
                    <td class="table-light"></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block jsscript %}
<!-- Date Picker-->

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script>
// Date Picker
$('input[name="date"]').daterangepicker();
</script>
{% endblock %}