{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>{% trans "Order Details" %}</h5>
            {% if order.debt > 0%}
                        <a class="btn btn-primary " href="{% url 'payments:create_customer_payment' order.id %}">{% trans "PayDebt" %}</a>
            {% endif %}
            <br>
            {% if order.factured %}
            <a class="btn btn-warning " href="{% url 'sellorder:sellorder_facture_pdf' order.id %}">{% trans "Print" %} </a>
            {% elif order.confirmed %}
            <a class="btn btn-warning " href="{% url 'sellorder:sellorder_pdf' order.id %}">{% trans "Print" %} </a>
            {% else %}
             <a class="btn btn-warning " href="{% url 'sellorder:sellorder_facture_proforma_pdf' order.id %}">{% trans "Print" %} </a>
            {% endif %}

        </div>
        <div class="card card-body">
            <div class="row">
                <div class="col-md-2">
                    <h6>{% trans "Order ID" %}: </h6>
                    <td>{{order.id}}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Customer" %}: </h6>
                    <td>{{order.customer}}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Phone" %}: </h6>
                    <td>{{order.customer.phone}}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Paid" %}: </h6>
                    <td>{{order.paid}}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Confirmed" %}: </h6>
                    <td>{{order.confirmed}}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Billed" %}: </h6>
                    <td>{{order.factured}}</td>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                    <h6>{% trans "HT" %}: </h6>
                    <td>{{order.total_price}} {% trans "DZD" %}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Tva" %}: </h6>
                    <td>{{order.get_tva}} {% trans "DZD" %}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Discount" %}: </h6>
                    <td>{{order.discount_amount}} {% trans "DZD" %}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Timbre" %}: </h6>
                    <td>{{order.timbre}} {% trans "DZD" %}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Total Price" %}: </h6>
                    <td>{{order.get_ttc}} {% trans "DZD" %}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Debt" %}: </h6>
                    <td>{{order.debt}} {% trans "DZD" %}</td>
                </div>
            </div>
            <hr>
            <br>
            <h2> {% trans "Products" %} : {{order.get_total_cost}}</h2>
            <hr>
            <table id="table_id" class="table display text-center">
                <thead class="thead-light">
                <tr>
                    <th>{% trans "Product Brand" %}</th>
                    <th>{% trans "Product Name" %}</th>
                    <th>{% trans "Price" %}</th>
                    <th>{% trans "Quantity" %}</th>
                    <th>{% trans "Total Price" %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in order.items.all %}
                <tr>
                    <td class="table-light">{{ item.stockproduct.product.brand }}</td>
                    <td class="table-light">{{ item.stockproduct.product.name }}</td>
                    <td class="table-light ">{% trans "DZD" %}{{ item.price }}</td>
                    <td class="table-light ">{{ item.quantity }}</td>
                    <td class="table-light">{% trans "DZD" %}{{ item.get_cost }}</td>
                    <td class="table-light"></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <h2>{% trans "Pannes" %} : {{order.get_total_panne}}</h2>
            <hr>
            <table id="table_panne" class="table display text-center">
                <thead class="thead-light">
                <tr>
                    <th>{% trans "Panne" %}</th>
                    <th>{% trans "Price" %}</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in order.pannes.all %}
                <tr>
                    <td class="table-light">{{ item.panne.desc }}</td>
                    <td class="table-light">{{ item.price }} {% trans "DZD" %}</td>
                    <td class="table-light"></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <h2> {% trans "Payments" %} </h2>
            <hr>
            <table id="table_payments" class="table display text-center">
                <thead class="thead-light">
                <tr>
                   <th>{% trans "Customer" %}</th>
                        <th>{% trans "Pay Status" %}</th>
                        <th>{% trans "Amount" %}</th>
                        <th>{% trans "Created" %}</th>
                        <th>{% trans "Payed" %}</th>
                        <th></th>
                </tr>
                </thead>
                <tbody>
                {% for payment in sellorder_payments %}
                <tr>
                    <td class="table-light">
                            {{payment.customer}}
                        </td>
                        <td class="table-light">
                            {{payment.pay_status}}
                        </td>
                        <td class="table-light">
                            {{payment.amount}}
                        </td>
                        <td class="table-light">
                            {{payment.created}}
                        </td>
                        <td class="table-light">
                            {{payment.pay_date}}
                        </td>
                        <td class="table-light">
                           <a class="btn btn-danger " href="{% url 'payments:delete_customer_payment' payment.id %}">{% trans "Delete" %}</a>
                        </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}