{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Order Confirmation</h5>
        </div>
        <div class="card card-body">
            <h2>Customer: <span>{{customer}}</span></h2>
            <label for="total-price">Total :</label>

            <input id="total-price" type="text" class="form-control" value="{{sellorder.get_ttc}}" disabled>
            <h2>{{get_total_item_panne}}</h2>
            <br>
            <hr>
            <div class="row">
                <div class="col-12">
                    <div class="">
                        <!-- Button Add New Product -->
                        <a class="btn btn btn-primary form-control"
                           href="{% url 'stock:modal_update_order_stockproduct_list' sellorder.id %}">New Product</a>
                        <br>
                        <br>
                        <!-- Button Add New Panne -->
                        <a class="btn btn btn-success form-control"
                           href="{% url 'rdv:update_order_panne_list' sellorder.id %}">New Panne</a>
                        <br>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                <input type="date" name="order_date" class="datepicker dateinput form-control" id="order_date" required>
                <br>
                <input onkeyup="calc()" id="discount-value" name="discount-value" type="number" class="form-control"
                       value="0">
                <select onchange="calc()" class="form-control" name="discount-status" id="discount-status">
                    <option value="1"> Percentage</option>
                    <option value="2"> Amount</option>
                </select>
                <hr>
                <br>
                <hr>
                <h3>TVA</h3>
                <input onkeyup="calc()" class="form-control" type="number" value="{{tva}}" name="tva" id="tva">
                <br>
                <hr>
                <h3>Timbre</h3>
                <input onkeyup="calc()" class="form-control" type="text" value="{{timbre}}" id="timbre" name="timbre">
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Customer</th>
                        <th>Vehicle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{sellorder.id}}</td>
                        <td>{{sellorder.customer}}</td>
                        <td>{{sellorder.vehicle}}</td>
                    </tr>
                    <thead class="thead-light">
                    <tr>

                        <th>Product Brand</th>
                        <th>Product Name</th>
                        <th>Sell Price DZD</th>
                        <th>Buy Price DZD</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                    </thead>
                    {% for item in sellorder.items.all %}
                    <tr>
                        <td class="table-light">
                            <input class="form-control" type="text" value="{{ item.stockproduct.product.brand }}"
                                   disabled>
                        </td>
                        <td class="table-light">
                            <input class="form-control" type="text" value="{{ item.stockproduct.product.name }}"
                                   name="names"
                                   disabled>
                        </td>
                        <td class="table-light ">
                            <input onkeyup="calc()" class="form-control" type="text" name="prices"
                                   value="{{ item.price }}" required>{{ item.price }}

                        </td>
                        <td class="table-light ">
                            {{ item.stockproduct.product.buyprice }}

                        </td>
                        <td class="table-light ">
                            <input onkeyup="calc()" class="form-control" type="number" name="quantities"
                                   value="{{ item.quantity }}" required>
                        </td>
                        <td>
                            <a class="btn btn-danger "
                               href="{% url 'sellorder:order_item_delete' sellorder.id item.id %}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table class="thead-light">
                    <thead class="thead-light">
                    <tr>
                        <th>Mo</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in sellorder.pannes.all %}
                    <tr>
                        <td>{{item.panne.desc}}</td>
                        <td><input type="text" class="form-control" name="panne-prices" value="{{item.price}}" disabled>
                    <td>
                            <a class="btn btn-danger "
                               href="{% url 'sellorder:order_panne_delete' sellorder.id item.id %}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>


                </table>
                <br>
                <input class="form-control btn btn-primary" type="submit" name="submit">

            </form>
        </div>
    </div>
</div>
<script>

    // treat numbers from final ","
    String.prototype.replaceAt = function(index, replacement) {
    return this.substr(0, index) + replacement + this.substr(index + replacement.length);
    }

   function calc(){
    var prices = document.getElementsByName("prices");
    var panne_prices = document.getElementsByName("panne-prices");
    var quantities = document.getElementsByName("quantities");
    var discount_status = document.getElementById("discount-status");
    var discount_value = document.getElementById("discount-value");
    var tva_value = document.getElementById("tva");
    var timbre_value = document.getElementById("timbre");
    var total_price = 0;
    var white_space = /\s/g
    // console.log(prices);
    for (var i = 0; i<prices.length; i++)
    {

        // made for server live
        // Removing Spaces
        if (/\s/g.test(prices[i].value)){
        prices[i].value = prices[i].value.replace(/\s/g, "");
        }else{
         str = prices[i].value
        str = str.split(',');
        str = str.join('');
        prices[i].value = str;
        }
        // Removing Comma
         var comma_index = prices[i].value.length - 3
        prices[i].value = prices[i].value.replaceAt(comma_index , ".");
        // any rest commas
        prices[i].value = prices[i].value.replace(",", "");
        /*
        var str_value = prices[i].value;
        for (var j = 0; j < prices[i].value.length; j++){
        console.log(prices[i].value[j]);
        }
        */

    // console.log(prices[i].value);
    if (i == 0){
        total_price = prices[i].value * quantities[i].value;
        document.getElementById("total-price").value = total_price;
    }else {
           total_price =  parseFloat(document.getElementById("total-price").value);
           total_price += parseFloat(prices[i].value * quantities[i].value);

           // console.log("Total Price");
           // console.log(total_price);

        document.getElementById("total-price").value = total_price;
    }
    }
    // Adding Panne Prices
    for (var i = 0; i<panne_prices.length; i++){
        //panne_prices[i].value = panne_prices[i].value.replace(/\s/g, "");
        // made for server live
        panne_prices[i].value = panne_prices[i].value.replace(",", "");
        total_price += parseFloat(panne_prices[i].value);
    }
    // Applying Tva
    total_price += (total_price * (tva_value.value/100));
    // applying timbre
    total_price += parseFloat(timbre_value.value)
     //console.log(discount_status.value);
     //console.log(discount_value.value);
     // Applying Discount
    if (discount_status.value == 1){
        total_price -= (total_price * (discount_value.value/100));
       // console.log("Total Price");
        //   console.log(total_price);
           document.getElementById("total-price").value = total_price;
     }else{
        total_price -= discount_value.value;
          //  console.log("Total Price");
          // console.log(total_price);
           document.getElementById("total-price").value = total_price;
     }

    }



</script>
{% endblock %}
