{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>{% trans "Today MO" %}</h5>
        </div>
        <div class="card card-body">
             <br>
            <h5 class="text-center text-success">{% trans "Total" %} : {{totalpanne}} {% trans "DZD" %}</h5>
            <br>
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label> {% trans "Pick a Date" %}</label>
                    <br>
                    {{dateform}}
                    <br>
                    <input class="btn btn-primary" type="submit" value="Validate">
                </div>
            </form>
            <br>
            <hr>
            <div class="row">
                        <div class="col-xl-12 col-md-12 mb-4">
        <div class="card bg-gradient-warning shadow h-100 py-2">
            <!-- Today Caisse -->
            <a href="{% url 'sellorder:get_orders_pannes' %}">
                <div class="card-body text-center">
             <h2 class=" font-weight-bold text-white text-uppercase mb-2">{% trans "Workshop Chief 10%" %}</h2>
                        <div class="h3 mb-0 font-weight-bold text-white">{{chief_percentage}} {% trans " DZD" %}</div>
            </div>
            </a>
        </div>
        </div>
            </div>
           <table id="table_panne" class="table display text-center">
                <thead class="thead-light">
                <tr>
                    <th>{% trans "Panne" %}</th>
                    <th>{% trans "Price" %}</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in pannes %}
                <tr>
                    <td class="table-light">{{ item.panne.desc }}</td>
                    <td class="table-light">{{ item.price }} {% trans "DZD" %}</td>
                    <td class="table-light"></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block jsscript %}
<!-- Date Picker-->

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script>
// Date Picker
$('input[name="date"]').daterangepicker();
</script>
{% endblock %}