{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>{% trans "Sell Order" %}</h5>
        </div>
        <div class="card card-body">
            <form id="service_form" action="" method="post">
                {% csrf_token %}
                <h2>{% trans "Choose Services" %}</h2>
                 <table id="table_id" class="display text-center">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{% trans "Service" %}</th>
                        <th>{% trans "Price" %}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for service in services %}
                    <tr>
                        <td>
                            <input class="form-check-input panne-input" type="checkbox" value="{{service.id}}"
                            id="{{service.id}}"
                            name="services">
                        </td>
                        <td>
                            {{service.name}}
                        </td>
                        <td>
                            {{service.price}}
                        </td>

                    </tr>

                    {% endfor %}
                    </tbody>
                </table>
                <br>
                <input class="form-control btn btn-primary" type="submit" name="submit">
            </form>
        </div>
        </div>

    </div>
</div>
{% endblock %}
{% block jsscript %}
<!-- custom javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"/>
<!-- Data Table  -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<script type='text/javascript'>
    //Data Table init
    $(document).ready( function () {
    $('#table_id').DataTable();

} );

// Form Submition stockproduct_form
    $('#service_form').on('submit', function(e){
         var form = this;
         //var form = document.getElementById('service_form');
         console.log(form)
         var table = $('#table_id').DataTable();
         // console.log(form);
         // Iterate over all checkboxes in the table
         table.$('input[type="checkbox"]').each(function(){
         // If checkbox doesn't exist in DOM
         if(!$.contains(document, this)){
         if(this.checked){
         // Create a hidden element
         console.log(this)
         $(form).append(
         $('<input>')
         .attr('type', 'hidden')
         .attr('name', this.name)
         .val(this.value)
         );
         }
         }
});
    });



</script>
{% endblock %}